In [4]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

In [2]:
import warnings

In [3]:
warnings.filterwarnings('ignore')

In [1]:
import requests

In [2]:
import pandas as pd

In [3]:
from bs4 import BeautifulSoup

In [6]:
url='https://www.iplt20.com/auction/2020'
r=requests.get(url)

In [7]:
print(r)

<Response [200]>

In [11]:
soup=BeautifulSoup(r.text,'lxml')

In [13]:
z=soup.find('table',class_='ih-td-tab auction-tbl')

In [14]:
header=z.find_all('th')

In [18]:
c=[]
for i in header:
    c.append(i.text)
    print(i.text)

SR. NO
TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS

In [20]:
c#columns

['SR. NO', 'TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [21]:
rows=z.find_all('tr')

In [40]:
for i in rows[1:]:
    m=i.find_all('td')
    row=[j.text for j in m]
    l=len(df)
    df.loc[l]=row

In [29]:
df=pd.DataFrame(columns=c)

In [41]:
df

,SR. NO,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,,\n\n\n\n\nChennai Super Kings\n\n,"₹15,00,000",8,24
1,,\n\n\n\n\nDelhi Capitals\n\n,"₹9,00,00,000",8,22
2,,\n\n\n\n\nKings XI Punjab\n\n,"₹16,50,00,000",8,25
3,,\n\n\n\n\nKolkata Knight Riders\n\n,"₹8,50,00,000",8,23
4,,\n\n\n\n\nMumbai Indians\n\n,"₹1,95,00,000",8,24
5,,\n\n\n\n\nRajasthan Royals\n\n,"₹14,75,00,000",8,25
6,,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹6,40,00,000",8,21
7,,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹10,10,00,000",8,25

In [39]:
len(df)

0