In [123]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_11596\2338759233.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa Kali_/\_')

In [124]:
import requests

In [125]:
from bs4 import BeautifulSoup as bs

In [126]:
url='https://www.iplt20.com/auction/2020'

In [127]:
r=requests.get(url)
r

In [128]:
s=bs(r.text,'lxml')

In [129]:
t=s.find('table',class_='ih-td-tab auction-tbl')

In [130]:
z=t.find_all('th')

In [131]:
l=[]
for i in z:
    print(i.text)
    l.append(i.text)

SR. NO
TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS

In [132]:
l

['SR. NO', 'TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [133]:
x=t.find_all('tr')
for i in x[1::]:
    print(i.text)

Chennai Super Kings


₹15,00,000
8
24








Delhi Capitals


₹9,00,00,000
8
22








Kings XI Punjab


₹16,50,00,000
8
25








Kolkata Knight Riders


₹8,50,00,000
8
23








Mumbai Indians


₹1,95,00,000
8
24








Rajasthan Royals


₹14,75,00,000
8
25








Royal Challengers Bangalore


₹6,40,00,000
8
21








Sunrisers Hyderabad


₹10,10,00,000
8
25

In [139]:
for i in x[1::]:
   
    f=i.find_all('td')[::]
    r=[i.text for i in f]
  
    l=len(df)
    df.loc[l]=r

In [134]:
df=pd.DataFrame(columns=l)

In [135]:
import pandas as pd

In [140]:
df

,SR. NO,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,,\n\n\n\n\nChennai Super Kings\n\n,"₹15,00,000",8,24
1,,\n\n\n\n\nDelhi Capitals\n\n,"₹9,00,00,000",8,22
2,,\n\n\n\n\nKings XI Punjab\n\n,"₹16,50,00,000",8,25
3,,\n\n\n\n\nKolkata Knight Riders\n\n,"₹8,50,00,000",8,23
4,,\n\n\n\n\nMumbai Indians\n\n,"₹1,95,00,000",8,24
5,,\n\n\n\n\nRajasthan Royals\n\n,"₹14,75,00,000",8,25
6,,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹6,40,00,000",8,21
7,,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹10,10,00,000",8,25

In [ ]:
b=x[2]

In [ ]:
for i in b:
    print(i.text)

In [ ]:
b.find_all('td')[1].text.strip()

In [138]:
for i in b:
    print(i.text)

Delhi Capitals




₹9,00,00,000


8


22

In [ ]:
b

In [158]:
url='https://nregastrep.nic.in/netnrega/delayed_payment.aspx?flag_debited=S&lflag=eng&state_code=02&State_name=ANDHRA+PRADESH&district_code=0203&District_name=VISAKHAPATANAM&Block_code=0203026&Block_name=Padmanabham&fin_year=2024-2025&page=b&fin=2024-2025&Digest=7w7q++AxWjMCxI6ZpTX54w'

In [159]:
r=requests.get(url)

In [160]:
r

In [161]:
s=bs(r.text,'lxml')

In [165]:
z=s.find_all('table')

In [166]:
len(z)

5

In [173]:
p=z[4]

In [214]:
r=p.find_all('tr')

In [215]:
c1=[i.text for i in r[0]]

In [216]:
c1=list(filter(lambda x:  x!='\n',c1))

In [217]:
c1=[i.strip()for i in c1]

In [218]:
c1

['S.No',
 'Panchayat',
 'Delayed Payment Between 0-8 Days',
 'Delayed Payment Between 9-15 Days',
 'Delayed Payment Between 16-30 Days',
 'Delayed Payment Between 31-60 Days',
 'Delayed Payment Between 61-90 Days',
 'Delayed Payment  more than 90 Days',
 'Total Delayed Payment',
 'Total Payment For Financial Year2024-2025']

In [223]:
c2=[i.text for i in r[1]]
c2=list(filter(lambda x:x!='\n',c2))
c2=[i.strip() for i in c2]
c2.insert(0,'S.No')
c2.insert(1,'Panchayat',)

In [220]:
len(c1)

10

In [224]:
len(c2)

18

In [237]:
for i in r[3:]:
    z=i.find_all('td')
    z=[i.text for i in z]
    l=len(df)
    df.loc[l]=z

In [235]:
df=pd.DataFrame(columns=c2)

In [241]:
df=df.applymap(lambda x: x.replace('\n','') if isinstance(x,str) else x)

C:\Users\barad\AppData\Local\Temp\ipykernel_11596\1909874447.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df=df.applymap(lambda x: x.replace('\n','') if isinstance(x,str) else x)

In [242]:
df

,S.No,Panchayat,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved
0,,Total,83002,913.51,1,0,2,0.02,0,0,0,0,0,0,2,0.02,83005,913.54
1,1,Ananthavaram,6561,80.33,0,0,0,0,0,0,0,0,0,0,0,0,6561,80.33
2,2,Ayinada,4125,40.17,0,0,0,0,0,0,0,0,0,0,0,0,4125,40.17
3,3,B.R. Tallavalasa,5522,56.01,0,0,0,0,0,0,0,0,0,0,0,0,5522,56.01
4,4,Bandevupuram,3124,42.38,0,0,0,0,0,0,0,0,0,0,0,0,3124,42.38
5,5,BUDDIVALASA AGRAHARAM,3175,42.28,0,0,0,0,0,0,0,0,0,0,0,0,3175,42.28
6,6,CHERIKANDAM,1263,16.04,0,0,0,0,0,0,0,0,0,0,0,0,1263,16.04
7,7,Chinnapuram,2124,19.32,0,0,0,0,0,0,0,0,0,0,0,0,2124,19.32
8,8,Gandavaram,6359,71.29,0,0,0,0,0,0,0,0,0,0,0,0,6359,71.29
9,9,Korada,4418,40.2,0,0,2,0.02,0,0,0,0,0,0,2,0.02,4420,40.23
10,10,Kovvada,4889,52.73,0,0,0,0,0,0,0,0,0,0,0,0,4889,52.73
11,11,Krishnapuram,2942,32.64,0,0,0,0,0,0,0,0,0,0,0,0,2942,32.64
12,12,Maddi,1688,14.91,0,0,0,0,0,0,0,0,0,0,0,0,1688,14.91
13,13,Nerellavalasa,1966,20.06,0,0,0,0,0,0,0,0,0,0,0,0,1966,20.06
14,14,Padmanabham,3778,44.83,0,0,0,0,0,0,0,0,0,0,0,0,3778,44.83
15,15,Pandrangi,3311,35.8,0,0,0,0,0,0,0,0,0,0,0,0,3311,35.8
16,16,Penta,2875,34.79,0,0,0,0,0,0,0,0,0,0,0,0,2875,34.79
17,17,Potnuru,6358,59.77,0,0,0,0,0,0,0,0,0,0,0,0,6358,59.77
18,18,Reddipalle Agrm.,5780,63.29,1,0,0,0,0,0,0,0,0,0,0,0,5781,63.29
19,19,Revidi,3020,34.01,0,0,0,0,0,0,0,0,0,0,0,0,3020,34.01
20,20,Tunivalasa,5379,63.02,0,0,0,0,0,0,0,0,0,0,0,0,5379,63.02
21,21,Venkatapuram,2521,30.56,0,0,0,0,0,0,0,0,0,0,0,0,2521,30.56
22,22,Vilasakannapalem,1824,19.08,0,0,0,0,0,0,0,0,0,0,0,0,1824,19.08
23,,Total,83002,913.51,1,0,2,0.02,0,0,0,0,0,0,2,0.02,83005,913.54

In [245]:
c1

['S.No',
 'Panchayat',
 'Delayed Payment Between 0-8 Days',
 'Delayed Payment Between 9-15 Days',
 'Delayed Payment Between 16-30 Days',
 'Delayed Payment Between 31-60 Days',
 'Delayed Payment Between 61-90 Days',
 'Delayed Payment  more than 90 Days',
 'Total Delayed Payment',
 'Total Payment For Financial Year2024-2025']

In [246]:
df.loc[0]=['S.No',
 'Panchayat',
 'Delayed Payment Between 0-8 Days','Delayed Payment Between 0-8 Days',
 'Delayed Payment Between 9-15 Days','Delayed Payment Between 9-15 Days',
 'Delayed Payment Between 16-30 Days', 'Delayed Payment Between 16-30 Days',
 'Delayed Payment Between 31-60 Days', 'Delayed Payment Between 31-60 Days',
 'Delayed Payment Between 61-90 Days','Delayed Payment Between 61-90 Days',
 'Delayed Payment  more than 90 Days','Delayed Payment  more than 90 Days',
 'Total Delayed Payment','Total Delayed Payment',
 'Total Payment For Financial Year2024-2025','Total Payment For Financial Year2024-2025']

In [253]:
df_title = g.text

In [251]:
g=s.find('span',id='ctl00_ContentPlaceHolder1_lbl_head')

In [252]:
g.text

'State : ANDHRA PRADESH    District :  VISAKHAPATANAM    Block :  Padmanabham'

In [255]:
df_title

'State : ANDHRA PRADESH    District :  VISAKHAPATANAM    Block :  Padmanabham'

In [261]:
df.loc[1]='State : ANDHRA PRADESH    District :  VISAKHAPATANAM    Block :  Padmanabham'

In [264]:
df=df.drop(1)

In [267]:
df=df.reset_index(drop=True)

In [268]:
df

,S.No,Panchayat,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved
0,S.No,Panchayat,Delayed Payment Between 0-8 Days,Delayed Payment Between 0-8 Days,Delayed Payment Between 9-15 Days,Delayed Payment Between 9-15 Days,Delayed Payment Between 16-30 Days,Delayed Payment Between 16-30 Days,Delayed Payment Between 31-60 Days,Delayed Payment Between 31-60 Days,Delayed Payment Between 61-90 Days,Delayed Payment Between 61-90 Days,Delayed Payment more than 90 Days,Delayed Payment more than 90 Days,Total Delayed Payment,Total Delayed Payment,Total Payment For Financial Year2024-2025,Total Payment For Financial Year2024-2025
1,2,Ayinada,4125,40.17,0,0,0,0,0,0,0,0,0,0,0,0,4125,40.17
2,3,B.R. Tallavalasa,5522,56.01,0,0,0,0,0,0,0,0,0,0,0,0,5522,56.01
3,4,Bandevupuram,3124,42.38,0,0,0,0,0,0,0,0,0,0,0,0,3124,42.38
4,5,BUDDIVALASA AGRAHARAM,3175,42.28,0,0,0,0,0,0,0,0,0,0,0,0,3175,42.28
5,6,CHERIKANDAM,1263,16.04,0,0,0,0,0,0,0,0,0,0,0,0,1263,16.04
6,7,Chinnapuram,2124,19.32,0,0,0,0,0,0,0,0,0,0,0,0,2124,19.32
7,8,Gandavaram,6359,71.29,0,0,0,0,0,0,0,0,0,0,0,0,6359,71.29
8,9,Korada,4418,40.2,0,0,2,0.02,0,0,0,0,0,0,2,0.02,4420,40.23
9,10,Kovvada,4889,52.73,0,0,0,0,0,0,0,0,0,0,0,0,4889,52.73
10,11,Krishnapuram,2942,32.64,0,0,0,0,0,0,0,0,0,0,0,0,2942,32.64
11,12,Maddi,1688,14.91,0,0,0,0,0,0,0,0,0,0,0,0,1688,14.91
12,13,Nerellavalasa,1966,20.06,0,0,0,0,0,0,0,0,0,0,0,0,1966,20.06
13,14,Padmanabham,3778,44.83,0,0,0,0,0,0,0,0,0,0,0,0,3778,44.83
14,15,Pandrangi,3311,35.8,0,0,0,0,0,0,0,0,0,0,0,0,3311,35.8
15,16,Penta,2875,34.79,0,0,0,0,0,0,0,0,0,0,0,0,2875,34.79
16,17,Potnuru,6358,59.77,0,0,0,0,0,0,0,0,0,0,0,0,6358,59.77
17,18,Reddipalle Agrm.,5780,63.29,1,0,0,0,0,0,0,0,0,0,0,0,5781,63.29
18,19,Revidi,3020,34.01,0,0,0,0,0,0,0,0,0,0,0,0,3020,34.01
19,20,Tunivalasa,5379,63.02,0,0,0,0,0,0,0,0,0,0,0,0,5379,63.02
20,21,Venkatapuram,2521,30.56,0,0,0,0,0,0,0,0,0,0,0,0,2521,30.56
21,22,Vilasakannapalem,1824,19.08,0,0,0,0,0,0,0,0,0,0,0,0,1824,19.08
22,,Total,83002,913.51,1,0,2,0.02,0,0,0,0,0,0,2,0.02,83005,913.54

In [272]:
ro=[df_title]*len(df)

In [276]:
df_title

'State : ANDHRA PRADESH    District :  VISAKHAPATANAM    Block :  Padmanabham'

In [277]:
#selenium

In [278]:
from selenium import webdriver

In [284]:
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [293]:
d=webdriver.Chrome()

In [294]:
d.get('https://www.adamchoi.co.uk/teamgoals/detailed')

In [295]:
x=d.find_element(By.XPATH,'//label[@analytics-event="All matches"]')

In [296]:
x.click()

In [301]:
p=d.find_elements(By.TAG_NAME,'tr')

In [302]:
for i in p:
    print(i.text)

17-08-2024 Arsenal 2 - 0 Wolves
24-08-2024 Aston Villa 0 - 2 Arsenal
31-08-2024 Arsenal 1 - 1 Brighton
15-09-2024 Tottenham 0 - 1 Arsenal
22-09-2024 Man City 2 - 2 Arsenal
28-09-2024 Arsenal 4 - 2 Leicester
05-10-2024 Arsenal 3 - 1 Southampton
19-10-2024 Bournemouth 2 - 0 Arsenal
27-10-2024 Arsenal 2 - 2 Liverpool
02-11-2024 Newcastle 1 - 0 Arsenal
10-11-2024 Chelsea 1 - 1 Arsenal
23-11-2024 Arsenal 3 - 0 Nott'm Forest
30-11-2024 West Ham 2 - 5 Arsenal
04-12-2024 Arsenal 2 - 0 Man United
08-12-2024 Fulham 1 - 1 Arsenal
14-12-2024 Arsenal 0 - 0 Everton
21-12-2024 Crystal Palace 1 - 5 Arsenal
27-12-2024 Arsenal 1 - 0 Ipswich
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024 West Ham 1 - 2 Aston Villa
24-08-2024 Aston Villa 0 - 2 Arsenal
31-08-2024 Leicester 1 - 2 Aston Villa
14-09-2024 Aston Villa 3 - 2 Everton
21-09-2024 Aston Villa 3 - 1 Wolves
29-09-2024 Ipswich 2 - 2 Aston Villa
06-10-2024 Aston Villa 0 - 0 Man United
19-10-2024 Fulham 1 - 3 Aston Villa
26-10-2024 Aston Villa 1 - 1 Bournemouth
03-11-2024 Tottenham 4 - 1 Aston Villa
09-11-2024 Liverpool 2 - 0 Aston Villa
23-11-2024 Aston Villa 2 - 2 Crystal Palace
01-12-2024 Chelsea 3 - 0 Aston Villa
04-12-2024 Aston Villa 3 - 1 Brentford
07-12-2024 Aston Villa 1 - 0 Southampton
14-12-2024 Nott'm Forest 2 - 1 Aston Villa
21-12-2024 Aston Villa 2 - 1 Man City
26-12-2024 Newcastle 3 - 0 Aston Villa
Next match: 31-12-2024 Aston Villa vs Brighton
17-08-2024 Nott'm Forest 1 - 1 Bournemouth
25-08-2024 Bournemouth 1 - 1 Newcastle
31-08-2024 Everton 2 - 3 Bournemouth
14-09-2024 Bournemouth 0 - 1 Chelsea
21-09-2024 Liverpool 3 - 0 Bournemouth
30-09-2024 Bournemouth 3 - 1 Southampton
05-10-2024 Leicester 1 - 0 Bournemouth
19-10-2024 Bournemouth 2 - 0 Arsenal
26-10-2024 Aston Villa 1 - 1 Bournemouth
02-11-2024 Bournemouth 2 - 1 Man City
09-11-2024 Brentford 3 - 2 Bournemouth
23-11-2024 Bournemouth 1 - 2 Brighton
30-11-2024 Wolves 2 - 4 Bournemouth
05-12-2024 Bournemouth 1 - 0 Tottenham
08-12-2024 Ipswich 1 - 2 Bournemouth
16-12-2024 Bournemouth 1 - 1 West Ham
22-12-2024 Man United 0 - 3 Bournemouth
26-12-2024 Bournemouth 0 - 0 Crystal Palace
29-12-2024 Fulham 2 - 2 Bournemouth
Next match: 04-01-2025 Bournemouth vs Everton
18-08-2024 Brentford 2 - 1 Crystal Palace
25-08-2024 Liverpool 2 - 0 Brentford
31-08-2024 Brentford 3 - 1 Southampton
14-09-2024 Man City 2 - 1 Brentford
21-09-2024 Tottenham 3 - 1 Brentford
28-09-2024 Brentford 1 - 1 West Ham
05-10-2024 Brentford 5 - 3 Wolves
19-10-2024 Man United 2 - 1 Brentford
26-10-2024 Brentford 4 - 3 Ipswich
04-11-2024 Fulham 2 - 1 Brentford
09-11-2024 Brentford 3 - 2 Bournemouth
23-11-2024 Everton 0 - 0 Brentford
30-11-2024 Brentford 4 - 1 Leicester
04-12-2024 Aston Villa 3 - 1 Brentford
07-12-2024 Brentford 4 - 2 Newcastle
15-12-2024 Chelsea 2 - 1 Brentford
21-12-2024 Brentford 0 - 2 Nott'm Forest
27-12-2024 Brighton 0 - 0 Brentford
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024 Everton 0 - 3 Brighton
24-08-2024 Brighton 2 - 1 Man United
31-08-2024 Arsenal 1 - 1 Brighton
14-09-2024 Brighton 0 - 0 Ipswich
22-09-2024 Brighton 2 - 2 Nott'm Forest
28-09-2024 Chelsea 4 - 2 Brighton
06-10-2024 Brighton 3 - 2 Tottenham
19-10-2024 Newcastle 0 - 1 Brighton
26-10-2024 Brighton 2 - 2 Wolves
02-11-2024 Liverpool 2 - 1 Brighton
09-11-2024 Brighton 2 - 1 Man City
23-11-2024 Bournemouth 1 - 2 Brighton
29-11-2024 Brighton 1 - 1 Southampton
05-12-2024 Fulham 3 - 1 Brighton
08-12-2024 Leicester 2 - 2 Brighton
15-12-2024 Brighton 1 - 3 Crystal Palace
21-12-2024 West Ham 1 - 1 Brighton
27-12-2024 Brighton 0 - 0 Brentford
Next match: 31-12-2024 Aston Villa vs Brighton
18-08-2024 Chelsea 0 - 2 Man City
25-08-2024 Wolves 2 - 6 Chelsea
01-09-2024 Chelsea 1 - 1 Crystal Palace
14-09-2024 Bournemouth 0 - 1 Chelsea
21-09-2024 West Ham 0 - 3 Chelsea
28-09-2024 Chelsea 4 - 2 Brighton
06-10-2024 Chelsea 1 - 1 Nott'm Forest
20-10-2024 Liverpool 2 - 1 Chelsea
27-10-2024 Chelsea 2 - 1 Newcastle
03-11-2024 Man United 1 - 1 Chelsea
10-11-2024 Chelsea 1 - 1 Arsenal
23-11-2024 Leicester 1 - 2 Chelsea
01-12-2024 Chelsea 3 - 0 Aston Villa
04-12-2024 Southampton 1 - 5 Chelsea
08-12-2024 Tottenham 3 - 4 Chelsea
15-12-2024 Chelsea 2 - 1 Brentford
22-12-2024 Everton 0 - 0 Chelsea
26-12-2024 Chelsea 1 - 2 Fulham
Next match: 31-12-2024 Ipswich vs Chelsea
18-08-2024 Brentford 2 - 1 Crystal Palace
24-08-2024 Crystal Palace 0 - 2 West Ham
01-09-2024 Chelsea 1 - 1 Crystal Palace
14-09-2024 Crystal Palace 2 - 2 Leicester
21-09-2024 Crystal Palace 0 - 0 Man United
28-09-2024 Everton 2 - 1 Crystal Palace
05-10-2024 Crystal Palace 0 - 1 Liverpool
21-10-2024 Nott'm Forest 1 - 0 Crystal Palace
27-10-2024 Crystal Palace 1 - 0 Tottenham
02-11-2024 Wolves 2 - 2 Crystal Palace
09-11-2024 Crystal Palace 0 - 2 Fulham
23-11-2024 Aston Villa 2 - 2 Crystal Palace
30-11-2024 Crystal Palace 1 - 1 Newcastle
03-12-2024 Ipswich 0 - 1 Crystal Palace
07-12-2024 Crystal Palace 2 - 2 Man City
15-12-2024 Brighton 1 - 3 Crystal Palace
21-12-2024 Crystal Palace 1 - 5 Arsenal
26-12-2024 Bournemouth 0 - 0 Crystal Palace
29-12-2024 Crystal Palace 2 - 1 Southampton
17-08-2024 Everton 0 - 3 Brighton
24-08-2024 Tottenham 4 - 0 Everton
31-08-2024 Everton 2 - 3 Bournemouth
14-09-2024 Aston Villa 3 - 2 Everton
21-09-2024 Leicester 1 - 1 Everton
28-09-2024 Everton 2 - 1 Crystal Palace
05-10-2024 Everton 0 - 0 Newcastle
19-10-2024 Ipswich 0 - 2 Everton
26-10-2024 Everton 1 - 1 Fulham
02-11-2024 Southampton 1 - 0 Everton
09-11-2024 West Ham 0 - 0 Everton
23-11-2024 Everton 0 - 0 Brentford
01-12-2024 Man United 4 - 0 Everton
04-12-2024 Everton 4 - 0 Wolves
14-12-2024 Arsenal 0 - 0 Everton
22-12-2024 Everton 0 - 0 Chelsea
26-12-2024 Man City 1 - 1 Everton
29-12-2024 Everton 0 - 2 Nott'm Forest
Next match: 04-01-2025 Bournemouth vs Everton
16-08-2024 Man United 1 - 0 Fulham
24-08-2024 Fulham 2 - 1 Leicester
31-08-2024 Ipswich 1 - 1 Fulham
14-09-2024 Fulham 1 - 1 West Ham
21-09-2024 Fulham 3 - 1 Newcastle
28-09-2024 Nott'm Forest 0 - 1 Fulham
05-10-2024 Man City 3 - 2 Fulham
19-10-2024 Fulham 1 - 3 Aston Villa
26-10-2024 Everton 1 - 1 Fulham
04-11-2024 Fulham 2 - 1 Brentford
09-11-2024 Crystal Palace 0 - 2 Fulham
23-11-2024 Fulham 1 - 4 Wolves
01-12-2024 Tottenham 1 - 1 Fulham
05-12-2024 Fulham 3 - 1 Brighton
08-12-2024 Fulham 1 - 1 Arsenal
14-12-2024 Liverpool 2 - 2 Fulham
22-12-2024 Fulham 0 - 0 Southampton
26-12-2024 Chelsea 1 - 2 Fulham
29-12-2024 Fulham 2 - 2 Bournemouth
17-08-2024 Ipswich 0 - 2 Liverpool
24-08-2024 Man City 4 - 1 Ipswich
31-08-2024 Ipswich 1 - 1 Fulham
14-09-2024 Brighton 0 - 0 Ipswich
21-09-2024 Southampton 1 - 1 Ipswich
29-09-2024 Ipswich 2 - 2 Aston Villa
05-10-2024 West Ham 4 - 1 Ipswich
19-10-2024 Ipswich 0 - 2 Everton
26-10-2024 Brentford 4 - 3 Ipswich
02-11-2024 Ipswich 1 - 1 Leicester
10-11-2024 Tottenham 1 - 2 Ipswich
24-11-2024 Ipswich 1 - 1 Man United
30-11-2024 Nott'm Forest 1 - 0 Ipswich
03-12-2024 Ipswich 0 - 1 Crystal Palace
08-12-2024 Ipswich 1 - 2 Bournemouth
14-12-2024 Wolves 1 - 2 Ipswich
21-12-2024 Ipswich 0 - 4 Newcastle
27-12-2024 Arsenal 1 - 0 Ipswich
Next match: 31-12-2024 Ipswich vs Chelsea
19-08-2024 Leicester 1 - 1 Tottenham
24-08-2024 Fulham 2 - 1 Leicester
31-08-2024 Leicester 1 - 2 Aston Villa
14-09-2024 Crystal Palace 2 - 2 Leicester
21-09-2024 Leicester 1 - 1 Everton
28-09-2024 Arsenal 4 - 2 Leicester
05-10-2024 Leicester 1 - 0 Bournemouth
19-10-2024 Southampton 2 - 3 Leicester
25-10-2024 Leicester 1 - 3 Nott'm Forest
02-11-2024 Ipswich 1 - 1 Leicester
10-11-2024 Man United 3 - 0 Leicester
23-11-2024 Leicester 1 - 2 Chelsea
30-11-2024 Brentford 4 - 1 Leicester
03-12-2024 Leicester 3 - 1 West Ham
08-12-2024 Leicester 2 - 2 Brighton
14-12-2024 Newcastle 4 - 0 Leicester
22-12-2024 Leicester 0 - 3 Wolves
26-12-2024 Liverpool 3 - 1 Leicester
29-12-2024 Leicester 0 - 2 Man City
17-08-2024 Ipswich 0 - 2 Liverpool
25-08-2024 Liverpool 2 - 0 Brentford
01-09-2024 Man United 0 - 3 Liverpool
14-09-2024 Liverpool 0 - 1 Nott'm Forest
21-09-2024 Liverpool 3 - 0 Bournemouth
28-09-2024 Wolves 1 - 2 Liverpool
05-10-2024 Crystal Palace 0 - 1 Liverpool
20-10-2024 Liverpool 2 - 1 Chelsea
27-10-2024 Arsenal 2 - 2 Liverpool
02-11-2024 Liverpool 2 - 1 Brighton
09-11-2024 Liverpool 2 - 0 Aston Villa
24-11-2024 Southampton 2 - 3 Liverpool
01-12-2024 Liverpool 2 - 0 Man City
04-12-2024 Newcastle 3 - 3 Liverpool
14-12-2024 Liverpool 2 - 2 Fulham
22-12-2024 Tottenham 3 - 6 Liverpool
26-12-2024 Liverpool 3 - 1 Leicester
29-12-2024 West Ham 0 - 5 Liverpool
18-08-2024 Chelsea 0 - 2 Man City
24-08-2024 Man City 4 - 1 Ipswich
31-08-2024 West Ham 1 - 3 Man City
14-09-2024 Man City 2 - 1 Brentford
22-09-2024 Man City 2 - 2 Arsenal
28-09-2024 Newcastle 1 - 1 Man City
05-10-2024 Man City 3 - 2 Fulham
20-10-2024 Wolves 1 - 2 Man City
26-10-2024 Man City 1 - 0 Southampton
02-11-2024 Bournemouth 2 - 1 Man City
09-11-2024 Brighton 2 - 1 Man City
23-11-2024 Man City 0 - 4 Tottenham
01-12-2024 Liverpool 2 - 0 Man City
04-12-2024 Man City 3 - 0 Nott'm Forest
07-12-2024 Crystal Palace 2 - 2 Man City
15-12-2024 Man City 1 - 2 Man United
21-12-2024 Aston Villa 2 - 1 Man City
26-12-2024 Man City 1 - 1 Everton
29-12-2024 Leicester 0 - 2 Man City
Next match: 04-01-2025 Man City vs West Ham
16-08-2024 Man United 1 - 0 Fulham
24-08-2024 Brighton 2 - 1 Man United
01-09-2024 Man United 0 - 3 Liverpool
14-09-2024 Southampton 0 - 3 Man United
21-09-2024 Crystal Palace 0 - 0 Man United
29-09-2024 Man United 0 - 3 Tottenham
06-10-2024 Aston Villa 0 - 0 Man United
19-10-2024 Man United 2 - 1 Brentford
27-10-2024 West Ham 2 - 1 Man United
03-11-2024 Man United 1 - 1 Chelsea
10-11-2024 Man United 3 - 0 Leicester
24-11-2024 Ipswich 1 - 1 Man United
01-12-2024 Man United 4 - 0 Everton
04-12-2024 Arsenal 2 - 0 Man United
07-12-2024 Man United 2 - 3 Nott'm Forest
15-12-2024 Man City 1 - 2 Man United
22-12-2024 Man United 0 - 3 Bournemouth
26-12-2024 Wolves 2 - 0 Man United
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024 Newcastle 1 - 0 Southampton
25-08-2024 Bournemouth 1 - 1 Newcastle
01-09-2024 Newcastle 2 - 1 Tottenham
15-09-2024 Wolves 1 - 2 Newcastle
21-09-2024 Fulham 3 - 1 Newcastle
28-09-2024 Newcastle 1 - 1 Man City
05-10-2024 Everton 0 - 0 Newcastle
19-10-2024 Newcastle 0 - 1 Brighton
27-10-2024 Chelsea 2 - 1 Newcastle
02-11-2024 Newcastle 1 - 0 Arsenal
10-11-2024 Nott'm Forest 1 - 3 Newcastle
25-11-2024 Newcastle 0 - 2 West Ham
30-11-2024 Crystal Palace 1 - 1 Newcastle
04-12-2024 Newcastle 3 - 3 Liverpool
07-12-2024 Brentford 4 - 2 Newcastle
14-12-2024 Newcastle 4 - 0 Leicester
21-12-2024 Ipswich 0 - 4 Newcastle
26-12-2024 Newcastle 3 - 0 Aston Villa
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024 Nott'm Forest 1 - 1 Bournemouth
24-08-2024 Southampton 0 - 1 Nott'm Forest
31-08-2024 Nott'm Forest 1 - 1 Wolves
14-09-2024 Liverpool 0 - 1 Nott'm Forest
22-09-2024 Brighton 2 - 2 Nott'm Forest
28-09-2024 Nott'm Forest 0 - 1 Fulham
06-10-2024 Chelsea 1 - 1 Nott'm Forest
21-10-2024 Nott'm Forest 1 - 0 Crystal Palace
25-10-2024 Leicester 1 - 3 Nott'm Forest
02-11-2024 Nott'm Forest 3 - 0 West Ham
10-11-2024 Nott'm Forest 1 - 3 Newcastle
23-11-2024 Arsenal 3 - 0 Nott'm Forest
30-11-2024 Nott'm Forest 1 - 0 Ipswich
04-12-2024 Man City 3 - 0 Nott'm Forest
07-12-2024 Man United 2 - 3 Nott'm Forest
14-12-2024 Nott'm Forest 2 - 1 Aston Villa
21-12-2024 Brentford 0 - 2 Nott'm Forest
26-12-2024 Nott'm Forest 1 - 0 Tottenham
29-12-2024 Everton 0 - 2 Nott'm Forest
Next match: 07-01-2025 Wolves vs Nott'm Forest
17-08-2024 Newcastle 1 - 0 Southampton
24-08-2024 Southampton 0 - 1 Nott'm Forest
31-08-2024 Brentford 3 - 1 Southampton
14-09-2024 Southampton 0 - 3 Man United
21-09-2024 Southampton 1 - 1 Ipswich
30-09-2024 Bournemouth 3 - 1 Southampton
05-10-2024 Arsenal 3 - 1 Southampton
19-10-2024 Southampton 2 - 3 Leicester
26-10-2024 Man City 1 - 0 Southampton
02-11-2024 Southampton 1 - 0 Everton
09-11-2024 Wolves 2 - 0 Southampton
24-11-2024 Southampton 2 - 3 Liverpool
29-11-2024 Brighton 1 - 1 Southampton
04-12-2024 Southampton 1 - 5 Chelsea
07-12-2024 Aston Villa 1 - 0 Southampton
15-12-2024 Southampton 0 - 5 Tottenham
22-12-2024 Fulham 0 - 0 Southampton
26-12-2024 Southampton 0 - 1 West Ham
29-12-2024 Crystal Palace 2 - 1 Southampton
19-08-2024 Leicester 1 - 1 Tottenham
24-08-2024 Tottenham 4 - 0 Everton
01-09-2024 Newcastle 2 - 1 Tottenham
15-09-2024 Tottenham 0 - 1 Arsenal
21-09-2024 Tottenham 3 - 1 Brentford
29-09-2024 Man United 0 - 3 Tottenham
06-10-2024 Brighton 3 - 2 Tottenham
19-10-2024 Tottenham 4 - 1 West Ham
27-10-2024 Crystal Palace 1 - 0 Tottenham
03-11-2024 Tottenham 4 - 1 Aston Villa
10-11-2024 Tottenham 1 - 2 Ipswich
23-11-2024 Man City 0 - 4 Tottenham
01-12-2024 Tottenham 1 - 1 Fulham
05-12-2024 Bournemouth 1 - 0 Tottenham
08-12-2024 Tottenham 3 - 4 Chelsea
15-12-2024 Southampton 0 - 5 Tottenham
22-12-2024 Tottenham 3 - 6 Liverpool
26-12-2024 Nott'm Forest 1 - 0 Tottenham
29-12-2024 Tottenham 2 - 2 Wolves
17-08-2024 West Ham 1 - 2 Aston Villa
24-08-2024 Crystal Palace 0 - 2 West Ham
31-08-2024 West Ham 1 - 3 Man City
14-09-2024 Fulham 1 - 1 West Ham
21-09-2024 West Ham 0 - 3 Chelsea
28-09-2024 Brentford 1 - 1 West Ham
05-10-2024 West Ham 4 - 1 Ipswich
19-10-2024 Tottenham 4 - 1 West Ham
27-10-2024 West Ham 2 - 1 Man United
02-11-2024 Nott'm Forest 3 - 0 West Ham
09-11-2024 West Ham 0 - 0 Everton
25-11-2024 Newcastle 0 - 2 West Ham
30-11-2024 West Ham 2 - 5 Arsenal
03-12-2024 Leicester 3 - 1 West Ham
09-12-2024 West Ham 2 - 1 Wolves
16-12-2024 Bournemouth 1 - 1 West Ham
21-12-2024 West Ham 1 - 1 Brighton
26-12-2024 Southampton 0 - 1 West Ham
29-12-2024 West Ham 0 - 5 Liverpool
Next match: 04-01-2025 Man City vs West Ham
17-08-2024 Arsenal 2 - 0 Wolves
25-08-2024 Wolves 2 - 6 Chelsea
31-08-2024 Nott'm Forest 1 - 1 Wolves
15-09-2024 Wolves 1 - 2 Newcastle
21-09-2024 Aston Villa 3 - 1 Wolves
28-09-2024 Wolves 1 - 2 Liverpool
05-10-2024 Brentford 5 - 3 Wolves
20-10-2024 Wolves 1 - 2 Man City
26-10-2024 Brighton 2 - 2 Wolves
02-11-2024 Wolves 2 - 2 Crystal Palace
09-11-2024 Wolves 2 - 0 Southampton
23-11-2024 Fulham 1 - 4 Wolves
30-11-2024 Wolves 2 - 4 Bournemouth
04-12-2024 Everton 4 - 0 Wolves
09-12-2024 West Ham 2 - 1 Wolves
14-12-2024 Wolves 1 - 2 Ipswich
22-12-2024 Leicester 0 - 3 Wolves
26-12-2024 Wolves 2 - 0 Man United
29-12-2024 Tottenham 2 - 2 Wolves
Next match: 07-01-2025 Wolves vs Nott'm Forest

In [316]:
p=d.find_elements(By.TAG_NAME,'table')

In [320]:
p[0]

In [322]:
m=d.find_elements(By.TAG_NAME,'tr')

In [335]:
for i in m:
    z=i.find_elements(By.TAG_NAME,'td')
    for j in z:
        print(j.text)

17-08-2024
Arsenal
2 - 0
Wolves
24-08-2024
Aston Villa
0 - 2
Arsenal
31-08-2024
Arsenal
1 - 1
Brighton
15-09-2024
Tottenham
0 - 1
Arsenal
22-09-2024
Man City
2 - 2
Arsenal
28-09-2024
Arsenal
4 - 2
Leicester
05-10-2024
Arsenal
3 - 1
Southampton
19-10-2024
Bournemouth
2 - 0
Arsenal
27-10-2024
Arsenal
2 - 2
Liverpool
02-11-2024
Newcastle
1 - 0
Arsenal
10-11-2024
Chelsea
1 - 1
Arsenal
23-11-2024
Arsenal
3 - 0
Nott'm Forest
30-11-2024
West Ham
2 - 5
Arsenal
04-12-2024
Arsenal
2 - 0
Man United
08-12-2024
Fulham
1 - 1
Arsenal
14-12-2024
Arsenal
0 - 0
Everton
21-12-2024
Crystal Palace
1 - 5
Arsenal
27-12-2024
Arsenal
1 - 0
Ipswich
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024
West Ham
1 - 2
Aston Villa
24-08-2024
Aston Villa
0 - 2
Arsenal
31-08-2024
Leicester
1 - 2
Aston Villa
14-09-2024
Aston Villa
3 - 2
Everton
21-09-2024
Aston Villa
3 - 1
Wolves
29-09-2024
Ipswich
2 - 2
Aston Villa
06-10-2024
Aston Villa
0 - 0
Man United
19-10-2024
Fulham
1 - 3
Aston Villa
26-10-2024
Aston Villa
1 - 1
Bournemouth
03-11-2024
Tottenham
4 - 1
Aston Villa
09-11-2024
Liverpool
2 - 0
Aston Villa
23-11-2024
Aston Villa
2 - 2
Crystal Palace
01-12-2024
Chelsea
3 - 0
Aston Villa
04-12-2024
Aston Villa
3 - 1
Brentford
07-12-2024
Aston Villa
1 - 0
Southampton
14-12-2024
Nott'm Forest
2 - 1
Aston Villa
21-12-2024
Aston Villa
2 - 1
Man City
26-12-2024
Newcastle
3 - 0
Aston Villa
Next match: 31-12-2024 Aston Villa vs Brighton
17-08-2024
Nott'm Forest
1 - 1
Bournemouth
25-08-2024
Bournemouth
1 - 1
Newcastle
31-08-2024
Everton
2 - 3
Bournemouth
14-09-2024
Bournemouth
0 - 1
Chelsea
21-09-2024
Liverpool
3 - 0
Bournemouth
30-09-2024
Bournemouth
3 - 1
Southampton
05-10-2024
Leicester
1 - 0
Bournemouth
19-10-2024
Bournemouth
2 - 0
Arsenal
26-10-2024
Aston Villa
1 - 1
Bournemouth
02-11-2024
Bournemouth
2 - 1
Man City
09-11-2024
Brentford
3 - 2
Bournemouth
23-11-2024
Bournemouth
1 - 2
Brighton
30-11-2024
Wolves
2 - 4
Bournemouth
05-12-2024
Bournemouth
1 - 0
Tottenham
08-12-2024
Ipswich
1 - 2
Bournemouth
16-12-2024
Bournemouth
1 - 1
West Ham
22-12-2024
Man United
0 - 3
Bournemouth
26-12-2024
Bournemouth
0 - 0
Crystal Palace
29-12-2024
Fulham
2 - 2
Bournemouth
Next match: 04-01-2025 Bournemouth vs Everton
18-08-2024
Brentford
2 - 1
Crystal Palace
25-08-2024
Liverpool
2 - 0
Brentford
31-08-2024
Brentford
3 - 1
Southampton
14-09-2024
Man City
2 - 1
Brentford
21-09-2024
Tottenham
3 - 1
Brentford
28-09-2024
Brentford
1 - 1
West Ham
05-10-2024
Brentford
5 - 3
Wolves
19-10-2024
Man United
2 - 1
Brentford
26-10-2024
Brentford
4 - 3
Ipswich
04-11-2024
Fulham
2 - 1
Brentford
09-11-2024
Brentford
3 - 2
Bournemouth
23-11-2024
Everton
0 - 0
Brentford
30-11-2024
Brentford
4 - 1
Leicester
04-12-2024
Aston Villa
3 - 1
Brentford
07-12-2024
Brentford
4 - 2
Newcastle
15-12-2024
Chelsea
2 - 1
Brentford
21-12-2024
Brentford
0 - 2
Nott'm Forest
27-12-2024
Brighton
0 - 0
Brentford
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024
Everton
0 - 3
Brighton
24-08-2024
Brighton
2 - 1
Man United
31-08-2024
Arsenal
1 - 1
Brighton
14-09-2024
Brighton
0 - 0
Ipswich
22-09-2024
Brighton
2 - 2
Nott'm Forest
28-09-2024
Chelsea
4 - 2
Brighton
06-10-2024
Brighton
3 - 2
Tottenham
19-10-2024
Newcastle
0 - 1
Brighton
26-10-2024
Brighton
2 - 2
Wolves
02-11-2024
Liverpool
2 - 1
Brighton
09-11-2024
Brighton
2 - 1
Man City
23-11-2024
Bournemouth
1 - 2
Brighton
29-11-2024
Brighton
1 - 1
Southampton
05-12-2024
Fulham
3 - 1
Brighton
08-12-2024
Leicester
2 - 2
Brighton
15-12-2024
Brighton
1 - 3
Crystal Palace
21-12-2024
West Ham
1 - 1
Brighton
27-12-2024
Brighton
0 - 0
Brentford
Next match: 31-12-2024 Aston Villa vs Brighton
18-08-2024
Chelsea
0 - 2
Man City
25-08-2024
Wolves
2 - 6
Chelsea
01-09-2024
Chelsea
1 - 1
Crystal Palace
14-09-2024
Bournemouth
0 - 1
Chelsea
21-09-2024
West Ham
0 - 3
Chelsea
28-09-2024
Chelsea
4 - 2
Brighton
06-10-2024
Chelsea
1 - 1
Nott'm Forest
20-10-2024
Liverpool
2 - 1
Chelsea
27-10-2024
Chelsea
2 - 1
Newcastle
03-11-2024
Man United
1 - 1
Chelsea
10-11-2024
Chelsea
1 - 1
Arsenal
23-11-2024
Leicester
1 - 2
Chelsea
01-12-2024
Chelsea
3 - 0
Aston Villa
04-12-2024
Southampton
1 - 5
Chelsea
08-12-2024
Tottenham
3 - 4
Chelsea
15-12-2024
Chelsea
2 - 1
Brentford
22-12-2024
Everton
0 - 0
Chelsea
26-12-2024
Chelsea
1 - 2
Fulham
Next match: 31-12-2024 Ipswich vs Chelsea
18-08-2024
Brentford
2 - 1
Crystal Palace
24-08-2024
Crystal Palace
0 - 2
West Ham
01-09-2024
Chelsea
1 - 1
Crystal Palace
14-09-2024
Crystal Palace
2 - 2
Leicester
21-09-2024
Crystal Palace
0 - 0
Man United
28-09-2024
Everton
2 - 1
Crystal Palace
05-10-2024
Crystal Palace
0 - 1
Liverpool
21-10-2024
Nott'm Forest
1 - 0
Crystal Palace
27-10-2024
Crystal Palace
1 - 0
Tottenham
02-11-2024
Wolves
2 - 2
Crystal Palace
09-11-2024
Crystal Palace
0 - 2
Fulham
23-11-2024
Aston Villa
2 - 2
Crystal Palace
30-11-2024
Crystal Palace
1 - 1
Newcastle
03-12-2024
Ipswich
0 - 1
Crystal Palace
07-12-2024
Crystal Palace
2 - 2
Man City
15-12-2024
Brighton
1 - 3
Crystal Palace
21-12-2024
Crystal Palace
1 - 5
Arsenal
26-12-2024
Bournemouth
0 - 0
Crystal Palace
29-12-2024
Crystal Palace
2 - 1
Southampton
17-08-2024
Everton
0 - 3
Brighton
24-08-2024
Tottenham
4 - 0
Everton
31-08-2024
Everton
2 - 3
Bournemouth
14-09-2024
Aston Villa
3 - 2
Everton
21-09-2024
Leicester
1 - 1
Everton
28-09-2024
Everton
2 - 1
Crystal Palace
05-10-2024
Everton
0 - 0
Newcastle
19-10-2024
Ipswich
0 - 2
Everton
26-10-2024
Everton
1 - 1
Fulham
02-11-2024
Southampton
1 - 0
Everton
09-11-2024
West Ham
0 - 0
Everton
23-11-2024
Everton
0 - 0
Brentford
01-12-2024
Man United
4 - 0
Everton
04-12-2024
Everton
4 - 0
Wolves
14-12-2024
Arsenal
0 - 0
Everton
22-12-2024
Everton
0 - 0
Chelsea
26-12-2024
Man City
1 - 1
Everton
29-12-2024
Everton
0 - 2
Nott'm Forest
Next match: 04-01-2025 Bournemouth vs Everton
16-08-2024
Man United
1 - 0
Fulham
24-08-2024
Fulham
2 - 1
Leicester
31-08-2024
Ipswich
1 - 1
Fulham
14-09-2024
Fulham
1 - 1
West Ham
21-09-2024
Fulham
3 - 1
Newcastle
28-09-2024
Nott'm Forest
0 - 1
Fulham
05-10-2024
Man City
3 - 2
Fulham
19-10-2024
Fulham
1 - 3
Aston Villa
26-10-2024
Everton
1 - 1
Fulham
04-11-2024
Fulham
2 - 1
Brentford
09-11-2024
Crystal Palace
0 - 2
Fulham
23-11-2024
Fulham
1 - 4
Wolves
01-12-2024
Tottenham
1 - 1
Fulham
05-12-2024
Fulham
3 - 1
Brighton
08-12-2024
Fulham
1 - 1
Arsenal
14-12-2024
Liverpool
2 - 2
Fulham
22-12-2024
Fulham
0 - 0
Southampton
26-12-2024
Chelsea
1 - 2
Fulham
29-12-2024
Fulham
2 - 2
Bournemouth
17-08-2024
Ipswich
0 - 2
Liverpool
24-08-2024
Man City
4 - 1
Ipswich
31-08-2024
Ipswich
1 - 1
Fulham
14-09-2024
Brighton
0 - 0
Ipswich
21-09-2024
Southampton
1 - 1
Ipswich
29-09-2024
Ipswich
2 - 2
Aston Villa
05-10-2024
West Ham
4 - 1
Ipswich
19-10-2024
Ipswich
0 - 2
Everton
26-10-2024
Brentford
4 - 3
Ipswich
02-11-2024
Ipswich
1 - 1
Leicester
10-11-2024
Tottenham
1 - 2
Ipswich
24-11-2024
Ipswich
1 - 1
Man United
30-11-2024
Nott'm Forest
1 - 0
Ipswich
03-12-2024
Ipswich
0 - 1
Crystal Palace
08-12-2024
Ipswich
1 - 2
Bournemouth
14-12-2024
Wolves
1 - 2
Ipswich
21-12-2024
Ipswich
0 - 4
Newcastle
27-12-2024
Arsenal
1 - 0
Ipswich
Next match: 31-12-2024 Ipswich vs Chelsea
19-08-2024
Leicester
1 - 1
Tottenham
24-08-2024
Fulham
2 - 1
Leicester
31-08-2024
Leicester
1 - 2
Aston Villa
14-09-2024
Crystal Palace
2 - 2
Leicester
21-09-2024
Leicester
1 - 1
Everton
28-09-2024
Arsenal
4 - 2
Leicester
05-10-2024
Leicester
1 - 0
Bournemouth
19-10-2024
Southampton
2 - 3
Leicester
25-10-2024
Leicester
1 - 3
Nott'm Forest
02-11-2024
Ipswich
1 - 1
Leicester
10-11-2024
Man United
3 - 0
Leicester
23-11-2024
Leicester
1 - 2
Chelsea
30-11-2024
Brentford
4 - 1
Leicester
03-12-2024
Leicester
3 - 1
West Ham
08-12-2024
Leicester
2 - 2
Brighton
14-12-2024
Newcastle
4 - 0
Leicester
22-12-2024
Leicester
0 - 3
Wolves
26-12-2024
Liverpool
3 - 1
Leicester
29-12-2024
Leicester
0 - 2
Man City
17-08-2024
Ipswich
0 - 2
Liverpool
25-08-2024
Liverpool
2 - 0
Brentford
01-09-2024
Man United
0 - 3
Liverpool
14-09-2024
Liverpool
0 - 1
Nott'm Forest
21-09-2024
Liverpool
3 - 0
Bournemouth
28-09-2024
Wolves
1 - 2
Liverpool
05-10-2024
Crystal Palace
0 - 1
Liverpool
20-10-2024
Liverpool
2 - 1
Chelsea
27-10-2024
Arsenal
2 - 2
Liverpool
02-11-2024
Liverpool
2 - 1
Brighton
09-11-2024
Liverpool
2 - 0
Aston Villa
24-11-2024
Southampton
2 - 3
Liverpool
01-12-2024
Liverpool
2 - 0
Man City
04-12-2024
Newcastle
3 - 3
Liverpool
14-12-2024
Liverpool
2 - 2
Fulham
22-12-2024
Tottenham
3 - 6
Liverpool
26-12-2024
Liverpool
3 - 1
Leicester
29-12-2024
West Ham
0 - 5
Liverpool
18-08-2024
Chelsea
0 - 2
Man City
24-08-2024
Man City
4 - 1
Ipswich
31-08-2024
West Ham
1 - 3
Man City
14-09-2024
Man City
2 - 1
Brentford
22-09-2024
Man City
2 - 2
Arsenal
28-09-2024
Newcastle
1 - 1
Man City
05-10-2024
Man City
3 - 2
Fulham
20-10-2024
Wolves
1 - 2
Man City
26-10-2024
Man City
1 - 0
Southampton
02-11-2024
Bournemouth
2 - 1
Man City
09-11-2024
Brighton
2 - 1
Man City
23-11-2024
Man City
0 - 4
Tottenham
01-12-2024
Liverpool
2 - 0
Man City
04-12-2024
Man City
3 - 0
Nott'm Forest
07-12-2024
Crystal Palace
2 - 2
Man City
15-12-2024
Man City
1 - 2
Man United
21-12-2024
Aston Villa
2 - 1
Man City
26-12-2024
Man City
1 - 1
Everton
29-12-2024
Leicester
0 - 2
Man City
Next match: 04-01-2025 Man City vs West Ham
16-08-2024
Man United
1 - 0
Fulham
24-08-2024
Brighton
2 - 1
Man United
01-09-2024
Man United
0 - 3
Liverpool
14-09-2024
Southampton
0 - 3
Man United
21-09-2024
Crystal Palace
0 - 0
Man United
29-09-2024
Man United
0 - 3
Tottenham
06-10-2024
Aston Villa
0 - 0
Man United
19-10-2024
Man United
2 - 1
Brentford
27-10-2024
West Ham
2 - 1
Man United
03-11-2024
Man United
1 - 1
Chelsea
10-11-2024
Man United
3 - 0
Leicester
24-11-2024
Ipswich
1 - 1
Man United
01-12-2024
Man United
4 - 0
Everton
04-12-2024
Arsenal
2 - 0
Man United
07-12-2024
Man United
2 - 3
Nott'm Forest
15-12-2024
Man City
1 - 2
Man United
22-12-2024
Man United
0 - 3
Bournemouth
26-12-2024
Wolves
2 - 0
Man United
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024
Newcastle
1 - 0
Southampton
25-08-2024
Bournemouth
1 - 1
Newcastle
01-09-2024
Newcastle
2 - 1
Tottenham
15-09-2024
Wolves
1 - 2
Newcastle
21-09-2024
Fulham
3 - 1
Newcastle
28-09-2024
Newcastle
1 - 1
Man City
05-10-2024
Everton
0 - 0
Newcastle
19-10-2024
Newcastle
0 - 1
Brighton
27-10-2024
Chelsea
2 - 1
Newcastle
02-11-2024
Newcastle
1 - 0
Arsenal
10-11-2024
Nott'm Forest
1 - 3
Newcastle
25-11-2024
Newcastle
0 - 2
West Ham
30-11-2024
Crystal Palace
1 - 1
Newcastle
04-12-2024
Newcastle
3 - 3
Liverpool
07-12-2024
Brentford
4 - 2
Newcastle
14-12-2024
Newcastle
4 - 0
Leicester
21-12-2024
Ipswich
0 - 4
Newcastle
26-12-2024
Newcastle
3 - 0
Aston Villa
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024
Nott'm Forest
1 - 1
Bournemouth
24-08-2024
Southampton
0 - 1
Nott'm Forest
31-08-2024
Nott'm Forest
1 - 1
Wolves
14-09-2024
Liverpool
0 - 1
Nott'm Forest
22-09-2024
Brighton
2 - 2
Nott'm Forest
28-09-2024
Nott'm Forest
0 - 1
Fulham
06-10-2024
Chelsea
1 - 1
Nott'm Forest
21-10-2024
Nott'm Forest
1 - 0
Crystal Palace
25-10-2024
Leicester
1 - 3
Nott'm Forest
02-11-2024
Nott'm Forest
3 - 0
West Ham
10-11-2024
Nott'm Forest
1 - 3
Newcastle
23-11-2024
Arsenal
3 - 0
Nott'm Forest
30-11-2024
Nott'm Forest
1 - 0
Ipswich
04-12-2024
Man City
3 - 0
Nott'm Forest
07-12-2024
Man United
2 - 3
Nott'm Forest
14-12-2024
Nott'm Forest
2 - 1
Aston Villa
21-12-2024
Brentford
0 - 2
Nott'm Forest
26-12-2024
Nott'm Forest
1 - 0
Tottenham
29-12-2024
Everton
0 - 2
Nott'm Forest
Next match: 07-01-2025 Wolves vs Nott'm Forest
17-08-2024
Newcastle
1 - 0
Southampton
24-08-2024
Southampton
0 - 1
Nott'm Forest
31-08-2024
Brentford
3 - 1
Southampton
14-09-2024
Southampton
0 - 3
Man United
21-09-2024
Southampton
1 - 1
Ipswich
30-09-2024
Bournemouth
3 - 1
Southampton
05-10-2024
Arsenal
3 - 1
Southampton
19-10-2024
Southampton
2 - 3
Leicester
26-10-2024
Man City
1 - 0
Southampton
02-11-2024
Southampton
1 - 0
Everton
09-11-2024
Wolves
2 - 0
Southampton
24-11-2024
Southampton
2 - 3
Liverpool
29-11-2024
Brighton
1 - 1
Southampton
04-12-2024
Southampton
1 - 5
Chelsea
07-12-2024
Aston Villa
1 - 0
Southampton
15-12-2024
Southampton
0 - 5
Tottenham
22-12-2024
Fulham
0 - 0
Southampton
26-12-2024
Southampton
0 - 1
West Ham
29-12-2024
Crystal Palace
2 - 1
Southampton
19-08-2024
Leicester
1 - 1
Tottenham
24-08-2024
Tottenham
4 - 0
Everton
01-09-2024
Newcastle
2 - 1
Tottenham
15-09-2024
Tottenham
0 - 1
Arsenal
21-09-2024
Tottenham
3 - 1
Brentford
29-09-2024
Man United
0 - 3
Tottenham
06-10-2024
Brighton
3 - 2
Tottenham
19-10-2024
Tottenham
4 - 1
West Ham
27-10-2024
Crystal Palace
1 - 0
Tottenham
03-11-2024
Tottenham
4 - 1
Aston Villa
10-11-2024
Tottenham
1 - 2
Ipswich
23-11-2024
Man City
0 - 4
Tottenham
01-12-2024
Tottenham
1 - 1
Fulham
05-12-2024
Bournemouth
1 - 0
Tottenham
08-12-2024
Tottenham
3 - 4
Chelsea
15-12-2024
Southampton
0 - 5
Tottenham
22-12-2024
Tottenham
3 - 6
Liverpool
26-12-2024
Nott'm Forest
1 - 0
Tottenham
29-12-2024
Tottenham
2 - 2
Wolves
17-08-2024
West Ham
1 - 2
Aston Villa
24-08-2024
Crystal Palace
0 - 2
West Ham
31-08-2024
West Ham
1 - 3
Man City
14-09-2024
Fulham
1 - 1
West Ham
21-09-2024
West Ham
0 - 3
Chelsea
28-09-2024
Brentford
1 - 1
West Ham
05-10-2024
West Ham
4 - 1
Ipswich
19-10-2024
Tottenham
4 - 1
West Ham
27-10-2024
West Ham
2 - 1
Man United
02-11-2024
Nott'm Forest
3 - 0
West Ham
09-11-2024
West Ham
0 - 0
Everton
25-11-2024
Newcastle
0 - 2
West Ham
30-11-2024
West Ham
2 - 5
Arsenal
03-12-2024
Leicester
3 - 1
West Ham
09-12-2024
West Ham
2 - 1
Wolves
16-12-2024
Bournemouth
1 - 1
West Ham
21-12-2024
West Ham
1 - 1
Brighton
26-12-2024
Southampton
0 - 1
West Ham
29-12-2024
West Ham
0 - 5
Liverpool
Next match: 04-01-2025 Man City vs West Ham
17-08-2024
Arsenal
2 - 0
Wolves
25-08-2024
Wolves
2 - 6
Chelsea
31-08-2024
Nott'm Forest
1 - 1
Wolves
15-09-2024
Wolves
1 - 2
Newcastle
21-09-2024
Aston Villa
3 - 1
Wolves
28-09-2024
Wolves
1 - 2
Liverpool
05-10-2024
Brentford
5 - 3
Wolves
20-10-2024
Wolves
1 - 2
Man City
26-10-2024
Brighton
2 - 2
Wolves
02-11-2024
Wolves
2 - 2
Crystal Palace
09-11-2024
Wolves
2 - 0
Southampton
23-11-2024
Fulham
1 - 4
Wolves
30-11-2024
Wolves
2 - 4
Bournemouth
04-12-2024
Everton
4 - 0
Wolves
09-12-2024
West Ham
2 - 1
Wolves
14-12-2024
Wolves
1 - 2
Ipswich
22-12-2024
Leicester
0 - 3
Wolves
26-12-2024
Wolves
2 - 0
Man United
29-12-2024
Tottenham
2 - 2
Wolves
Next match: 07-01-2025 Wolves vs Nott'm Forest

In [339]:
for i in m:
    z=i.find_elements(By.TAG_NAME,'td')
    cv=[k.text for k in z]
    if len(cv)>1:
        l=len(df)
        df.loc[l]=cv

In [332]:
df=pd.DataFrame(columns=[1,2,3,4])

In [333]:
df

Empty DataFrame
Columns: [1, 2, 3, 4]
Index: []

In [337]:
u=[1,23,]

In [338]:
len(u)

2

In [340]:
df

              1            2      3           4
0    17-08-2024      Arsenal  2 - 0      Wolves
1    24-08-2024  Aston Villa  0 - 2     Arsenal
2    31-08-2024      Arsenal  1 - 1    Brighton
3    15-09-2024    Tottenham  0 - 1     Arsenal
4    22-09-2024     Man City  2 - 2     Arsenal
..          ...          ...    ...         ...
383  09-12-2024     West Ham  2 - 1      Wolves
384  14-12-2024       Wolves  1 - 2     Ipswich
385  22-12-2024    Leicester  0 - 3      Wolves
386  26-12-2024       Wolves  2 - 0  Man United
387  29-12-2024    Tottenham  2 - 2      Wolves

[388 rows x 4 columns]

In [341]:
for i in m:
    print(i.text)

17-08-2024 Arsenal 2 - 0 Wolves
24-08-2024 Aston Villa 0 - 2 Arsenal
31-08-2024 Arsenal 1 - 1 Brighton
15-09-2024 Tottenham 0 - 1 Arsenal
22-09-2024 Man City 2 - 2 Arsenal
28-09-2024 Arsenal 4 - 2 Leicester
05-10-2024 Arsenal 3 - 1 Southampton
19-10-2024 Bournemouth 2 - 0 Arsenal
27-10-2024 Arsenal 2 - 2 Liverpool
02-11-2024 Newcastle 1 - 0 Arsenal
10-11-2024 Chelsea 1 - 1 Arsenal
23-11-2024 Arsenal 3 - 0 Nott'm Forest
30-11-2024 West Ham 2 - 5 Arsenal
04-12-2024 Arsenal 2 - 0 Man United
08-12-2024 Fulham 1 - 1 Arsenal
14-12-2024 Arsenal 0 - 0 Everton
21-12-2024 Crystal Palace 1 - 5 Arsenal
27-12-2024 Arsenal 1 - 0 Ipswich
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024 West Ham 1 - 2 Aston Villa
24-08-2024 Aston Villa 0 - 2 Arsenal
31-08-2024 Leicester 1 - 2 Aston Villa
14-09-2024 Aston Villa 3 - 2 Everton
21-09-2024 Aston Villa 3 - 1 Wolves
29-09-2024 Ipswich 2 - 2 Aston Villa
06-10-2024 Aston Villa 0 - 0 Man United
19-10-2024 Fulham 1 - 3 Aston Villa
26-10-2024 Aston Villa 1 - 1 Bournemouth
03-11-2024 Tottenham 4 - 1 Aston Villa
09-11-2024 Liverpool 2 - 0 Aston Villa
23-11-2024 Aston Villa 2 - 2 Crystal Palace
01-12-2024 Chelsea 3 - 0 Aston Villa
04-12-2024 Aston Villa 3 - 1 Brentford
07-12-2024 Aston Villa 1 - 0 Southampton
14-12-2024 Nott'm Forest 2 - 1 Aston Villa
21-12-2024 Aston Villa 2 - 1 Man City
26-12-2024 Newcastle 3 - 0 Aston Villa
Next match: 31-12-2024 Aston Villa vs Brighton
17-08-2024 Nott'm Forest 1 - 1 Bournemouth
25-08-2024 Bournemouth 1 - 1 Newcastle
31-08-2024 Everton 2 - 3 Bournemouth
14-09-2024 Bournemouth 0 - 1 Chelsea
21-09-2024 Liverpool 3 - 0 Bournemouth
30-09-2024 Bournemouth 3 - 1 Southampton
05-10-2024 Leicester 1 - 0 Bournemouth
19-10-2024 Bournemouth 2 - 0 Arsenal
26-10-2024 Aston Villa 1 - 1 Bournemouth
02-11-2024 Bournemouth 2 - 1 Man City
09-11-2024 Brentford 3 - 2 Bournemouth
23-11-2024 Bournemouth 1 - 2 Brighton
30-11-2024 Wolves 2 - 4 Bournemouth
05-12-2024 Bournemouth 1 - 0 Tottenham
08-12-2024 Ipswich 1 - 2 Bournemouth
16-12-2024 Bournemouth 1 - 1 West Ham
22-12-2024 Man United 0 - 3 Bournemouth
26-12-2024 Bournemouth 0 - 0 Crystal Palace
29-12-2024 Fulham 2 - 2 Bournemouth
Next match: 04-01-2025 Bournemouth vs Everton
18-08-2024 Brentford 2 - 1 Crystal Palace
25-08-2024 Liverpool 2 - 0 Brentford
31-08-2024 Brentford 3 - 1 Southampton
14-09-2024 Man City 2 - 1 Brentford
21-09-2024 Tottenham 3 - 1 Brentford
28-09-2024 Brentford 1 - 1 West Ham
05-10-2024 Brentford 5 - 3 Wolves
19-10-2024 Man United 2 - 1 Brentford
26-10-2024 Brentford 4 - 3 Ipswich
04-11-2024 Fulham 2 - 1 Brentford
09-11-2024 Brentford 3 - 2 Bournemouth
23-11-2024 Everton 0 - 0 Brentford
30-11-2024 Brentford 4 - 1 Leicester
04-12-2024 Aston Villa 3 - 1 Brentford
07-12-2024 Brentford 4 - 2 Newcastle
15-12-2024 Chelsea 2 - 1 Brentford
21-12-2024 Brentford 0 - 2 Nott'm Forest
27-12-2024 Brighton 0 - 0 Brentford
Next match: 01-01-2025 Brentford vs Arsenal
17-08-2024 Everton 0 - 3 Brighton
24-08-2024 Brighton 2 - 1 Man United
31-08-2024 Arsenal 1 - 1 Brighton
14-09-2024 Brighton 0 - 0 Ipswich
22-09-2024 Brighton 2 - 2 Nott'm Forest
28-09-2024 Chelsea 4 - 2 Brighton
06-10-2024 Brighton 3 - 2 Tottenham
19-10-2024 Newcastle 0 - 1 Brighton
26-10-2024 Brighton 2 - 2 Wolves
02-11-2024 Liverpool 2 - 1 Brighton
09-11-2024 Brighton 2 - 1 Man City
23-11-2024 Bournemouth 1 - 2 Brighton
29-11-2024 Brighton 1 - 1 Southampton
05-12-2024 Fulham 3 - 1 Brighton
08-12-2024 Leicester 2 - 2 Brighton
15-12-2024 Brighton 1 - 3 Crystal Palace
21-12-2024 West Ham 1 - 1 Brighton
27-12-2024 Brighton 0 - 0 Brentford
Next match: 31-12-2024 Aston Villa vs Brighton
18-08-2024 Chelsea 0 - 2 Man City
25-08-2024 Wolves 2 - 6 Chelsea
01-09-2024 Chelsea 1 - 1 Crystal Palace
14-09-2024 Bournemouth 0 - 1 Chelsea
21-09-2024 West Ham 0 - 3 Chelsea
28-09-2024 Chelsea 4 - 2 Brighton
06-10-2024 Chelsea 1 - 1 Nott'm Forest
20-10-2024 Liverpool 2 - 1 Chelsea
27-10-2024 Chelsea 2 - 1 Newcastle
03-11-2024 Man United 1 - 1 Chelsea
10-11-2024 Chelsea 1 - 1 Arsenal
23-11-2024 Leicester 1 - 2 Chelsea
01-12-2024 Chelsea 3 - 0 Aston Villa
04-12-2024 Southampton 1 - 5 Chelsea
08-12-2024 Tottenham 3 - 4 Chelsea
15-12-2024 Chelsea 2 - 1 Brentford
22-12-2024 Everton 0 - 0 Chelsea
26-12-2024 Chelsea 1 - 2 Fulham
Next match: 31-12-2024 Ipswich vs Chelsea
18-08-2024 Brentford 2 - 1 Crystal Palace
24-08-2024 Crystal Palace 0 - 2 West Ham
01-09-2024 Chelsea 1 - 1 Crystal Palace
14-09-2024 Crystal Palace 2 - 2 Leicester
21-09-2024 Crystal Palace 0 - 0 Man United
28-09-2024 Everton 2 - 1 Crystal Palace
05-10-2024 Crystal Palace 0 - 1 Liverpool
21-10-2024 Nott'm Forest 1 - 0 Crystal Palace
27-10-2024 Crystal Palace 1 - 0 Tottenham
02-11-2024 Wolves 2 - 2 Crystal Palace
09-11-2024 Crystal Palace 0 - 2 Fulham
23-11-2024 Aston Villa 2 - 2 Crystal Palace
30-11-2024 Crystal Palace 1 - 1 Newcastle
03-12-2024 Ipswich 0 - 1 Crystal Palace
07-12-2024 Crystal Palace 2 - 2 Man City
15-12-2024 Brighton 1 - 3 Crystal Palace
21-12-2024 Crystal Palace 1 - 5 Arsenal
26-12-2024 Bournemouth 0 - 0 Crystal Palace
29-12-2024 Crystal Palace 2 - 1 Southampton
17-08-2024 Everton 0 - 3 Brighton
24-08-2024 Tottenham 4 - 0 Everton
31-08-2024 Everton 2 - 3 Bournemouth
14-09-2024 Aston Villa 3 - 2 Everton
21-09-2024 Leicester 1 - 1 Everton
28-09-2024 Everton 2 - 1 Crystal Palace
05-10-2024 Everton 0 - 0 Newcastle
19-10-2024 Ipswich 0 - 2 Everton
26-10-2024 Everton 1 - 1 Fulham
02-11-2024 Southampton 1 - 0 Everton
09-11-2024 West Ham 0 - 0 Everton
23-11-2024 Everton 0 - 0 Brentford
01-12-2024 Man United 4 - 0 Everton
04-12-2024 Everton 4 - 0 Wolves
14-12-2024 Arsenal 0 - 0 Everton
22-12-2024 Everton 0 - 0 Chelsea
26-12-2024 Man City 1 - 1 Everton
29-12-2024 Everton 0 - 2 Nott'm Forest
Next match: 04-01-2025 Bournemouth vs Everton
16-08-2024 Man United 1 - 0 Fulham
24-08-2024 Fulham 2 - 1 Leicester
31-08-2024 Ipswich 1 - 1 Fulham
14-09-2024 Fulham 1 - 1 West Ham
21-09-2024 Fulham 3 - 1 Newcastle
28-09-2024 Nott'm Forest 0 - 1 Fulham
05-10-2024 Man City 3 - 2 Fulham
19-10-2024 Fulham 1 - 3 Aston Villa
26-10-2024 Everton 1 - 1 Fulham
04-11-2024 Fulham 2 - 1 Brentford
09-11-2024 Crystal Palace 0 - 2 Fulham
23-11-2024 Fulham 1 - 4 Wolves
01-12-2024 Tottenham 1 - 1 Fulham
05-12-2024 Fulham 3 - 1 Brighton
08-12-2024 Fulham 1 - 1 Arsenal
14-12-2024 Liverpool 2 - 2 Fulham
22-12-2024 Fulham 0 - 0 Southampton
26-12-2024 Chelsea 1 - 2 Fulham
29-12-2024 Fulham 2 - 2 Bournemouth
17-08-2024 Ipswich 0 - 2 Liverpool
24-08-2024 Man City 4 - 1 Ipswich
31-08-2024 Ipswich 1 - 1 Fulham
14-09-2024 Brighton 0 - 0 Ipswich
21-09-2024 Southampton 1 - 1 Ipswich
29-09-2024 Ipswich 2 - 2 Aston Villa
05-10-2024 West Ham 4 - 1 Ipswich
19-10-2024 Ipswich 0 - 2 Everton
26-10-2024 Brentford 4 - 3 Ipswich
02-11-2024 Ipswich 1 - 1 Leicester
10-11-2024 Tottenham 1 - 2 Ipswich
24-11-2024 Ipswich 1 - 1 Man United
30-11-2024 Nott'm Forest 1 - 0 Ipswich
03-12-2024 Ipswich 0 - 1 Crystal Palace
08-12-2024 Ipswich 1 - 2 Bournemouth
14-12-2024 Wolves 1 - 2 Ipswich
21-12-2024 Ipswich 0 - 4 Newcastle
27-12-2024 Arsenal 1 - 0 Ipswich
Next match: 31-12-2024 Ipswich vs Chelsea
19-08-2024 Leicester 1 - 1 Tottenham
24-08-2024 Fulham 2 - 1 Leicester
31-08-2024 Leicester 1 - 2 Aston Villa
14-09-2024 Crystal Palace 2 - 2 Leicester
21-09-2024 Leicester 1 - 1 Everton
28-09-2024 Arsenal 4 - 2 Leicester
05-10-2024 Leicester 1 - 0 Bournemouth
19-10-2024 Southampton 2 - 3 Leicester
25-10-2024 Leicester 1 - 3 Nott'm Forest
02-11-2024 Ipswich 1 - 1 Leicester
10-11-2024 Man United 3 - 0 Leicester
23-11-2024 Leicester 1 - 2 Chelsea
30-11-2024 Brentford 4 - 1 Leicester
03-12-2024 Leicester 3 - 1 West Ham
08-12-2024 Leicester 2 - 2 Brighton
14-12-2024 Newcastle 4 - 0 Leicester
22-12-2024 Leicester 0 - 3 Wolves
26-12-2024 Liverpool 3 - 1 Leicester
29-12-2024 Leicester 0 - 2 Man City
17-08-2024 Ipswich 0 - 2 Liverpool
25-08-2024 Liverpool 2 - 0 Brentford
01-09-2024 Man United 0 - 3 Liverpool
14-09-2024 Liverpool 0 - 1 Nott'm Forest
21-09-2024 Liverpool 3 - 0 Bournemouth
28-09-2024 Wolves 1 - 2 Liverpool
05-10-2024 Crystal Palace 0 - 1 Liverpool
20-10-2024 Liverpool 2 - 1 Chelsea
27-10-2024 Arsenal 2 - 2 Liverpool
02-11-2024 Liverpool 2 - 1 Brighton
09-11-2024 Liverpool 2 - 0 Aston Villa
24-11-2024 Southampton 2 - 3 Liverpool
01-12-2024 Liverpool 2 - 0 Man City
04-12-2024 Newcastle 3 - 3 Liverpool
14-12-2024 Liverpool 2 - 2 Fulham
22-12-2024 Tottenham 3 - 6 Liverpool
26-12-2024 Liverpool 3 - 1 Leicester
29-12-2024 West Ham 0 - 5 Liverpool
18-08-2024 Chelsea 0 - 2 Man City
24-08-2024 Man City 4 - 1 Ipswich
31-08-2024 West Ham 1 - 3 Man City
14-09-2024 Man City 2 - 1 Brentford
22-09-2024 Man City 2 - 2 Arsenal
28-09-2024 Newcastle 1 - 1 Man City
05-10-2024 Man City 3 - 2 Fulham
20-10-2024 Wolves 1 - 2 Man City
26-10-2024 Man City 1 - 0 Southampton
02-11-2024 Bournemouth 2 - 1 Man City
09-11-2024 Brighton 2 - 1 Man City
23-11-2024 Man City 0 - 4 Tottenham
01-12-2024 Liverpool 2 - 0 Man City
04-12-2024 Man City 3 - 0 Nott'm Forest
07-12-2024 Crystal Palace 2 - 2 Man City
15-12-2024 Man City 1 - 2 Man United
21-12-2024 Aston Villa 2 - 1 Man City
26-12-2024 Man City 1 - 1 Everton
29-12-2024 Leicester 0 - 2 Man City
Next match: 04-01-2025 Man City vs West Ham
16-08-2024 Man United 1 - 0 Fulham
24-08-2024 Brighton 2 - 1 Man United
01-09-2024 Man United 0 - 3 Liverpool
14-09-2024 Southampton 0 - 3 Man United
21-09-2024 Crystal Palace 0 - 0 Man United
29-09-2024 Man United 0 - 3 Tottenham
06-10-2024 Aston Villa 0 - 0 Man United
19-10-2024 Man United 2 - 1 Brentford
27-10-2024 West Ham 2 - 1 Man United
03-11-2024 Man United 1 - 1 Chelsea
10-11-2024 Man United 3 - 0 Leicester
24-11-2024 Ipswich 1 - 1 Man United
01-12-2024 Man United 4 - 0 Everton
04-12-2024 Arsenal 2 - 0 Man United
07-12-2024 Man United 2 - 3 Nott'm Forest
15-12-2024 Man City 1 - 2 Man United
22-12-2024 Man United 0 - 3 Bournemouth
26-12-2024 Wolves 2 - 0 Man United
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024 Newcastle 1 - 0 Southampton
25-08-2024 Bournemouth 1 - 1 Newcastle
01-09-2024 Newcastle 2 - 1 Tottenham
15-09-2024 Wolves 1 - 2 Newcastle
21-09-2024 Fulham 3 - 1 Newcastle
28-09-2024 Newcastle 1 - 1 Man City
05-10-2024 Everton 0 - 0 Newcastle
19-10-2024 Newcastle 0 - 1 Brighton
27-10-2024 Chelsea 2 - 1 Newcastle
02-11-2024 Newcastle 1 - 0 Arsenal
10-11-2024 Nott'm Forest 1 - 3 Newcastle
25-11-2024 Newcastle 0 - 2 West Ham
30-11-2024 Crystal Palace 1 - 1 Newcastle
04-12-2024 Newcastle 3 - 3 Liverpool
07-12-2024 Brentford 4 - 2 Newcastle
14-12-2024 Newcastle 4 - 0 Leicester
21-12-2024 Ipswich 0 - 4 Newcastle
26-12-2024 Newcastle 3 - 0 Aston Villa
Next match: 31-12-2024 Man United vs Newcastle
17-08-2024 Nott'm Forest 1 - 1 Bournemouth
24-08-2024 Southampton 0 - 1 Nott'm Forest
31-08-2024 Nott'm Forest 1 - 1 Wolves
14-09-2024 Liverpool 0 - 1 Nott'm Forest
22-09-2024 Brighton 2 - 2 Nott'm Forest
28-09-2024 Nott'm Forest 0 - 1 Fulham
06-10-2024 Chelsea 1 - 1 Nott'm Forest
21-10-2024 Nott'm Forest 1 - 0 Crystal Palace
25-10-2024 Leicester 1 - 3 Nott'm Forest
02-11-2024 Nott'm Forest 3 - 0 West Ham
10-11-2024 Nott'm Forest 1 - 3 Newcastle
23-11-2024 Arsenal 3 - 0 Nott'm Forest
30-11-2024 Nott'm Forest 1 - 0 Ipswich
04-12-2024 Man City 3 - 0 Nott'm Forest
07-12-2024 Man United 2 - 3 Nott'm Forest
14-12-2024 Nott'm Forest 2 - 1 Aston Villa
21-12-2024 Brentford 0 - 2 Nott'm Forest
26-12-2024 Nott'm Forest 1 - 0 Tottenham
29-12-2024 Everton 0 - 2 Nott'm Forest
Next match: 07-01-2025 Wolves vs Nott'm Forest
17-08-2024 Newcastle 1 - 0 Southampton
24-08-2024 Southampton 0 - 1 Nott'm Forest
31-08-2024 Brentford 3 - 1 Southampton
14-09-2024 Southampton 0 - 3 Man United
21-09-2024 Southampton 1 - 1 Ipswich
30-09-2024 Bournemouth 3 - 1 Southampton
05-10-2024 Arsenal 3 - 1 Southampton
19-10-2024 Southampton 2 - 3 Leicester
26-10-2024 Man City 1 - 0 Southampton
02-11-2024 Southampton 1 - 0 Everton
09-11-2024 Wolves 2 - 0 Southampton
24-11-2024 Southampton 2 - 3 Liverpool
29-11-2024 Brighton 1 - 1 Southampton
04-12-2024 Southampton 1 - 5 Chelsea
07-12-2024 Aston Villa 1 - 0 Southampton
15-12-2024 Southampton 0 - 5 Tottenham
22-12-2024 Fulham 0 - 0 Southampton
26-12-2024 Southampton 0 - 1 West Ham
29-12-2024 Crystal Palace 2 - 1 Southampton
19-08-2024 Leicester 1 - 1 Tottenham
24-08-2024 Tottenham 4 - 0 Everton
01-09-2024 Newcastle 2 - 1 Tottenham
15-09-2024 Tottenham 0 - 1 Arsenal
21-09-2024 Tottenham 3 - 1 Brentford
29-09-2024 Man United 0 - 3 Tottenham
06-10-2024 Brighton 3 - 2 Tottenham
19-10-2024 Tottenham 4 - 1 West Ham
27-10-2024 Crystal Palace 1 - 0 Tottenham
03-11-2024 Tottenham 4 - 1 Aston Villa
10-11-2024 Tottenham 1 - 2 Ipswich
23-11-2024 Man City 0 - 4 Tottenham
01-12-2024 Tottenham 1 - 1 Fulham
05-12-2024 Bournemouth 1 - 0 Tottenham
08-12-2024 Tottenham 3 - 4 Chelsea
15-12-2024 Southampton 0 - 5 Tottenham
22-12-2024 Tottenham 3 - 6 Liverpool
26-12-2024 Nott'm Forest 1 - 0 Tottenham
29-12-2024 Tottenham 2 - 2 Wolves
17-08-2024 West Ham 1 - 2 Aston Villa
24-08-2024 Crystal Palace 0 - 2 West Ham
31-08-2024 West Ham 1 - 3 Man City
14-09-2024 Fulham 1 - 1 West Ham
21-09-2024 West Ham 0 - 3 Chelsea
28-09-2024 Brentford 1 - 1 West Ham
05-10-2024 West Ham 4 - 1 Ipswich
19-10-2024 Tottenham 4 - 1 West Ham
27-10-2024 West Ham 2 - 1 Man United
02-11-2024 Nott'm Forest 3 - 0 West Ham
09-11-2024 West Ham 0 - 0 Everton
25-11-2024 Newcastle 0 - 2 West Ham
30-11-2024 West Ham 2 - 5 Arsenal
03-12-2024 Leicester 3 - 1 West Ham
09-12-2024 West Ham 2 - 1 Wolves
16-12-2024 Bournemouth 1 - 1 West Ham
21-12-2024 West Ham 1 - 1 Brighton
26-12-2024 Southampton 0 - 1 West Ham
29-12-2024 West Ham 0 - 5 Liverpool
Next match: 04-01-2025 Man City vs West Ham
17-08-2024 Arsenal 2 - 0 Wolves
25-08-2024 Wolves 2 - 6 Chelsea
31-08-2024 Nott'm Forest 1 - 1 Wolves
15-09-2024 Wolves 1 - 2 Newcastle
21-09-2024 Aston Villa 3 - 1 Wolves
28-09-2024 Wolves 1 - 2 Liverpool
05-10-2024 Brentford 5 - 3 Wolves
20-10-2024 Wolves 1 - 2 Man City
26-10-2024 Brighton 2 - 2 Wolves
02-11-2024 Wolves 2 - 2 Crystal Palace
09-11-2024 Wolves 2 - 0 Southampton
23-11-2024 Fulham 1 - 4 Wolves
30-11-2024 Wolves 2 - 4 Bournemouth
04-12-2024 Everton 4 - 0 Wolves
09-12-2024 West Ham 2 - 1 Wolves
14-12-2024 Wolves 1 - 2 Ipswich
22-12-2024 Leicester 0 - 3 Wolves
26-12-2024 Wolves 2 - 0 Man United
29-12-2024 Tottenham 2 - 2 Wolves
Next match: 07-01-2025 Wolves vs Nott'm Forest

In [342]:
d=[]
h_t=[]
score=[]
a_t=[]