In [1]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_3196\2338759233.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa Kali_/\_')

In [2]:
import requests
from bs4 import BeautifulSoup as bs

In [3]:
url='https://nregastrep.nic.in/netnrega/delayed_payment.aspx?flag_debited=S&lflag=eng&state_code=02&State_name=ANDHRA+PRADESH&district_code=0203&District_name=VISAKHAPATANAM&Block_code=0203026&Block_name=Padmanabham&fin_year=2024-2025&page=b&fin=2024-2025&Digest=7w7q++AxWjMCxI6ZpTX54w'

In [76]:
r=requests.get(url)

In [77]:
r

In [78]:
z=bs(r.text,'lxml')

In [79]:
t=z.find_all('table')

In [80]:
x=t[-1]

In [81]:
p1=x.find_all('tr')

In [138]:
f=z.find('span',id='ctl00_ContentPlaceHolder1_lbl_head').text
sd=re.findall("(State : [^\n]+) B",f)[0]
b= re.findall('Block :[^\n]+',t)[0]

In [140]:
c1=[i.text for i in p1[0]]
c1=list(filter(lambda x: x!='\n' ,c1))
c1=[i.strip() for i in c1]
c1[0]=sd
c1[1]=b
c1

['State : ANDHRA PRADESH    District :  VISAKHAPATANAM   ',
 'Block :  Padmanabham',
 'Delayed Payment Between 0-8 Days',
 'Delayed Payment Between 9-15 Days',
 'Delayed Payment Between 16-30 Days',
 'Delayed Payment Between 31-60 Days',
 'Delayed Payment Between 61-90 Days',
 'Delayed Payment  more than 90 Days',
 'Total Delayed Payment',
 'Total Payment For Financial Year2024-2025']

In [141]:
c2=[i.text for i in p1[1]]
c2=list(filter(lambda x: x!='\n',c2))
c2=[i.strip() for i in c2]
c2.insert(0,'S.No')
c2.insert(1,'Panchayat')
c2

['S.No',
 'Panchayat',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved',
 'Total Transactions',
 'Amount Involved']

In [85]:
len(c2)

18

In [86]:
import re
t='State : ANDHRA PRADESH    District :  VISAKHAPATANAM    Block :  Padmanabham'

In [123]:
re.findall('Block :([^\n]+)',t)[0].strip()

'Padmanabham'

In [142]:
import pandas as pd
df=pd.DataFrame(columns=c2)

In [143]:
df

Empty DataFrame
Columns: [S.No, Panchayat, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved, Total Transactions, Amount Involved]
Index: []

In [144]:
for i in p1[2::]:
    g=i.find_all('td')
    g=[i.text for i in g]
    l=len(df)
    df.loc[l]=g

In [145]:
df=df.applymap(lambda x: x.replace('\n',''))

C:\Users\barad\AppData\Local\Temp\ipykernel_3196\1666844426.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df=df.applymap(lambda x: x.replace('\n',''))

In [146]:
nc=[c1[0],c1[1],c1[2],c1[2],c1[3],c1[3],c1[4],c1[4],c1[5],c1[5],c1[6],c1[6],c1[7],c1[7],c1[8],c1[8],c1[9],c1[9]]

In [147]:
df.loc[0]=nc

In [148]:
df

,S.No,Panchayat,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved,Total Transactions,Amount Involved
0,State : ANDHRA PRADESH District : VISAKHAP...,Block : Padmanabham,Delayed Payment Between 0-8 Days,Delayed Payment Between 0-8 Days,Delayed Payment Between 9-15 Days,Delayed Payment Between 9-15 Days,Delayed Payment Between 16-30 Days,Delayed Payment Between 16-30 Days,Delayed Payment Between 31-60 Days,Delayed Payment Between 31-60 Days,Delayed Payment Between 61-90 Days,Delayed Payment Between 61-90 Days,Delayed Payment more than 90 Days,Delayed Payment more than 90 Days,Total Delayed Payment,Total Delayed Payment,Total Payment For Financial Year2024-2025,Total Payment For Financial Year2024-2025
1,,Total,83002,913.51,1,0,2,0.02,0,0,0,0,0,0,2,0.02,83005,913.54
2,1,Ananthavaram,6561,80.33,0,0,0,0,0,0,0,0,0,0,0,0,6561,80.33
3,2,Ayinada,4125,40.17,0,0,0,0,0,0,0,0,0,0,0,0,4125,40.17
4,3,B.R. Tallavalasa,5522,56.01,0,0,0,0,0,0,0,0,0,0,0,0,5522,56.01
5,4,Bandevupuram,3124,42.38,0,0,0,0,0,0,0,0,0,0,0,0,3124,42.38
6,5,BUDDIVALASA AGRAHARAM,3175,42.28,0,0,0,0,0,0,0,0,0,0,0,0,3175,42.28
7,6,CHERIKANDAM,1263,16.04,0,0,0,0,0,0,0,0,0,0,0,0,1263,16.04
8,7,Chinnapuram,2124,19.32,0,0,0,0,0,0,0,0,0,0,0,0,2124,19.32
9,8,Gandavaram,6359,71.29,0,0,0,0,0,0,0,0,0,0,0,0,6359,71.29
10,9,Korada,4418,40.2,0,0,2,0.02,0,0,0,0,0,0,2,0.02,4420,40.23
11,10,Kovvada,4889,52.73,0,0,0,0,0,0,0,0,0,0,0,0,4889,52.73
12,11,Krishnapuram,2942,32.64,0,0,0,0,0,0,0,0,0,0,0,0,2942,32.64
13,12,Maddi,1688,14.91,0,0,0,0,0,0,0,0,0,0,0,0,1688,14.91
14,13,Nerellavalasa,1966,20.06,0,0,0,0,0,0,0,0,0,0,0,0,1966,20.06
15,14,Padmanabham,3778,44.83,0,0,0,0,0,0,0,0,0,0,0,0,3778,44.83
16,15,Pandrangi,3311,35.8,0,0,0,0,0,0,0,0,0,0,0,0,3311,35.8
17,16,Penta,2875,34.79,0,0,0,0,0,0,0,0,0,0,0,0,2875,34.79
18,17,Potnuru,6358,59.77,0,0,0,0,0,0,0,0,0,0,0,0,6358,59.77
19,18,Reddipalle Agrm.,5780,63.29,1,0,0,0,0,0,0,0,0,0,0,0,5781,63.29
20,19,Revidi,3020,34.01,0,0,0,0,0,0,0,0,0,0,0,0,3020,34.01
21,20,Tunivalasa,5379,63.02,0,0,0,0,0,0,0,0,0,0,0,0,5379,63.02
22,21,Venkatapuram,2521,30.56,0,0,0,0,0,0,0,0,0,0,0,0,2521,30.56
23,22,Vilasakannapalem,1824,19.08,0,0,0,0,0,0,0,0,0,0,0,0,1824,19.08
24,,Total,83002,913.51,1,0,2,0.02,0,0,0,0,0,0,2,0.02,83005,913.54

In [149]:
df.to_csv('jmk.csv',index=False)

In [ ]:
df['