In [15]:
print('Jai Maa KALI_/\_')

Jai Maa KALI_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_3468\913251040.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa KALI_/\_')

In [2]:
from selenium import webdriver

In [3]:
import pandas as pd
import time
from selenium.webdriver.common.by import By

In [ ]:
url='https://www.adamchoi.co.uk/teamgoals/detailed'

In [ ]:
d=webdriver.Chrome()

In [ ]:
d.get(url)

In [ ]:
x=d.find_element(By.XPATH,'//label[@analytics-event="All matches"]')
x.click()

In [ ]:
z=d.find_elements(By.TAG_NAME,'table')

In [ ]:
df=pd.DataFrame(columns=[1,2,3,4])

In [ ]:

for i in z:
    df = pd.DataFrame(columns=[1,2,3,4])
    c=i.find_elements(By.TAG_NAME,'tr')
    
    for jmk,j in enumerate(c):
        cv=j.find_elements(By.TAG_NAME,'td')
        cv=[k.text for k in cv]
    
        if len(cv)>1:
            b=len(df)
            df.loc[b]=cv
        filename = f"DataFrame_{jmk}.csv"
        df.to_csv(filename,index=False)

In [ ]:
df

In [ ]:
for i in (2):
    x=x[1]

In [ ]:
data = [{"value": i} for i in range(1, 51)]

In [ ]:
data

In [ ]:
print('Ohh Dear Mother Kali,its you who wrote,Thank you Mother Kali,Jai Maa KALI_/\_')

In [ ]:
#MNREGA
print('Jai Maa Kali_/\_')

In [4]:
url='https://nreganarep.nic.in/netnrega/app_issue.aspx?page=s&lflag=eng&state_name=ANDHRA%20PRADESH&state_code=02&fin_year=2024-2025&source=national&Digest=MPAE1Gu5xzz3Cyx6tZOVdw'

In [5]:
d=webdriver.Chrome()

In [6]:
d.get(url)
time.sleep(2)

In [23]:
t=d.find_elements(By.TAG_NAME,'table')

In [ ]:
for i,m in enumerate(t):
    print('---------------------------------------------')
    cv=m.find_elements(By.TAG_NAME,'tr')
    for j in cv:
        print(j.text)

In [24]:
len(t)

8

In [10]:
b=t[6]

cv=b.find_elements(By.TAG_NAME,'tr')
for j in cv:
    print(j.text)

S.No Districts Number of Jobcards Registered Workers Number of Active

Job Cards * Active Workers *
Applied for Issued SCs STs Others Total Workers Women SCs STs Others Total Workers Women
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551
1 ALLURI SITHARAMA RAJU 246154 245186 11064 429976 32052 473092 240334 229507 9140 390435 26708 426283 215978
2 ANAKAPALLI 281188 279912 38009 17488 385588 441085 252101 237554 32578 16060 317607 366245 213919
3 ANANTAPUR 308726 305743 103040 18775 447004 568819 295904 258317 88779 16338 350293 455410 239383
4 ANNAMAYYA 247937 246019 75412 15168 324995 415575 223661 203481 62129 11975 249123 323227 176979
5 BAPATLA 266184 265496 155303 18983 294391 468677 243589 211730 131160 14092 226103 371355 195240
6 CHITTOOR 266496 265156 125755 15858 336109 477722 257689 214344 100943 12539 245284 358766 199568
7 EAST GODAVARI 165821 165076 76418 3519 175618 255555 131956 124403 65084 3023 112431 180538 94686
8 ELURU 373485 372724 223516 58123 390509 672148 345990 318630 192210 49743 309871 551824 290793
9 GUNTUR 125843 125248 86072 7128 114549 207749 113916 90669 67501 5282 76920 149703 82862
10 KAKINADA 283595 281983 109709 10054 341895 461658 223588 208139 84107 7828 218986 310921 147828
11 KONASEEMA 227547 227287 140908 3046 205360 349314 183737 153269 105054 2084 119441 226579 125655
12 KRISHNA 213851 213396 132086 6611 239053 377750 195824 175832 113501 5329 189579 308409 159994
13 KURNOOL 328297 326686 120260 8312 493210 621782 317779 259379 97304 6639 363971 467914 243096
14 NANDYAL 255810 254696 125338 16202 334294 475834 251566 210270 102400 12621 257210 372231 202906
15 NELLORE 343883 342248 160746 39929 375573 576248 310916 277700 126034 26585 285180 437799 244608
16 NTR 205084 204449 133895 25861 205904 365660 195391 174449 114617 22013 165202 301832 164488
17 PALNADU 331250 329673 139640 51181 378093 568914 297755 261297 115466 39657 291206 446329 236632
18 PARVATHIPURAM MANYAM 208939 207927 48171 139839 204954 392964 207781 192389 41645 126701 178029 346375 184988
19 PRAKASAM 439323 437387 222610 27778 559191 809579 425888 381079 184927 20218 472446 677591 363589
20 SRI SATHYA SAI 274937 272769 72084 27838 405707 505629 260524 223864 60650 24091 309078 393819 204604
21 SRIKAKULAM 431806 430571 66017 41897 627666 735580 421685 380019 53749 36051 512197 601997 360743
22 TIRUPATI 267499 266503 170206 39561 251227 460994 251864 224005 139854 30275 194375 364504 204554
23 VISAKHAPATANAM 36050 35881 4756 506 50047 55309 33756 31525 4096 449 42600 47145 29550
24 VIZIANAGARAM 384090 383466 79294 18956 587748 685998 375977 352466 68022 16756 508917 593695 335938
25 WEST GODAVARI 179744 178836 75275 2227 217255 294757 148670 136194 56993 1645 153033 211671 109242
26 Y.S.R 225286 224363 86257 5955 314982 407194 223906 191495 71185 4893 248148 324226 184728
Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551

In [11]:
for i in t:
    cv=i.find_elements(By.TAG_NAME,'tr')
    for j in cv:
        print(j.text)

Govt. of India
Ministry of Rural Development
Department of Rural Development
The Mahatma Gandhi National Rural Employment Guarantee Act 01-Jan-2025 07:00:51 PM
Back   Home
All IPPE NRLM
All IPPE NRLM
All Job Card Issued
All Job Card Issued

All IPPE NRLM
All Job Card Issued
S.No Districts Number of Jobcards Registered Workers Number of Active

Job Cards * Active Workers *
Applied for Issued SCs STs Others Total Workers Women SCs STs Others Total Workers Women
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551
1 ALLURI SITHARAMA RAJU 246154 245186 11064 429976 32052 473092 240334 229507 9140 390435 26708 426283 215978
2 ANAKAPALLI 281188 279912 38009 17488 385588 441085 252101 237554 32578 16060 317607 366245 213919
3 ANANTAPUR 308726 305743 103040 18775 447004 568819 295904 258317 88779 16338 350293 455410 239383
4 ANNAMAYYA 247937 246019 75412 15168 324995 415575 223661 203481 62129 11975 249123 323227 176979
5 BAPATLA 266184 265496 155303 18983 294391 468677 243589 211730 131160 14092 226103 371355 195240
6 CHITTOOR 266496 265156 125755 15858 336109 477722 257689 214344 100943 12539 245284 358766 199568
7 EAST GODAVARI 165821 165076 76418 3519 175618 255555 131956 124403 65084 3023 112431 180538 94686
8 ELURU 373485 372724 223516 58123 390509 672148 345990 318630 192210 49743 309871 551824 290793
9 GUNTUR 125843 125248 86072 7128 114549 207749 113916 90669 67501 5282 76920 149703 82862
10 KAKINADA 283595 281983 109709 10054 341895 461658 223588 208139 84107 7828 218986 310921 147828
11 KONASEEMA 227547 227287 140908 3046 205360 349314 183737 153269 105054 2084 119441 226579 125655
12 KRISHNA 213851 213396 132086 6611 239053 377750 195824 175832 113501 5329 189579 308409 159994
13 KURNOOL 328297 326686 120260 8312 493210 621782 317779 259379 97304 6639 363971 467914 243096
14 NANDYAL 255810 254696 125338 16202 334294 475834 251566 210270 102400 12621 257210 372231 202906
15 NELLORE 343883 342248 160746 39929 375573 576248 310916 277700 126034 26585 285180 437799 244608
16 NTR 205084 204449 133895 25861 205904 365660 195391 174449 114617 22013 165202 301832 164488
17 PALNADU 331250 329673 139640 51181 378093 568914 297755 261297 115466 39657 291206 446329 236632
18 PARVATHIPURAM MANYAM 208939 207927 48171 139839 204954 392964 207781 192389 41645 126701 178029 346375 184988
19 PRAKASAM 439323 437387 222610 27778 559191 809579 425888 381079 184927 20218 472446 677591 363589
20 SRI SATHYA SAI 274937 272769 72084 27838 405707 505629 260524 223864 60650 24091 309078 393819 204604
21 SRIKAKULAM 431806 430571 66017 41897 627666 735580 421685 380019 53749 36051 512197 601997 360743
22 TIRUPATI 267499 266503 170206 39561 251227 460994 251864 224005 139854 30275 194375 364504 204554
23 VISAKHAPATANAM 36050 35881 4756 506 50047 55309 33756 31525 4096 449 42600 47145 29550
24 VIZIANAGARAM 384090 383466 79294 18956 587748 685998 375977 352466 68022 16756 508917 593695 335938
25 WEST GODAVARI 179744 178836 75275 2227 217255 294757 148670 136194 56993 1645 153033 211671 109242
26 Y.S.R 225286 224363 86257 5955 314982 407194 223906 191495 71185 4893 248148 324226 184728
Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551
*Active Jobcards:Any individuals of households who has worked any one day in either the last three financial year or in current financial year

In [12]:
col=['S.No','Districts','Number of Jobcards applied','Number of Jobcards issued','Registered Workers SCs','Registered Workers STs',
     'Registered Workers others','Registered Workers Total Workers','Registered Workers Women','Number of Active Job Cards',
     'Active Workers SCs','Active Workers STs',
     'Active Workers others','Active Workers Total Workers','Active Workers Women']

In [13]:
for i in col:
    print(i)

S.No
Districts
Number of Jobcards applied
Number of Jobcards issued
Registered Workers SCs
Registered Workers STs
Registered Workers others
Registered Workers Total Workers
Registered Workers Women
Number of Active Job Cards
Active Workers SCs
Active Workers STs
Active Workers others
Active Workers Total Workers
Active Workers Women

In [14]:
len(col)
print('Jai Maa KALI_/\_')

Jai Maa KALI_/\_

<>:2: SyntaxWarning: invalid escape sequence '\_'
<>:2: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_3468\4265610130.py:2: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa KALI_/\_')

In [25]:
b=t[6]
#i=b.find_elements(By.TAG_NAME,'tr')
df=pd.DataFrame(columns=col)

In [32]:
i=b.find_elements(By.TAG_NAME,'tr')
for k in i[3:]:
    print(k.text)

Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551
1 ALLURI SITHARAMA RAJU 246154 245186 11064 429976 32052 473092 240334 229507 9140 390435 26708 426283 215978
2 ANAKAPALLI 281188 279912 38009 17488 385588 441085 252101 237554 32578 16060 317607 366245 213919
3 ANANTAPUR 308726 305743 103040 18775 447004 568819 295904 258317 88779 16338 350293 455410 239383
4 ANNAMAYYA 247937 246019 75412 15168 324995 415575 223661 203481 62129 11975 249123 323227 176979
5 BAPATLA 266184 265496 155303 18983 294391 468677 243589 211730 131160 14092 226103 371355 195240
6 CHITTOOR 266496 265156 125755 15858 336109 477722 257689 214344 100943 12539 245284 358766 199568
7 EAST GODAVARI 165821 165076 76418 3519 175618 255555 131956 124403 65084 3023 112431 180538 94686
8 ELURU 373485 372724 223516 58123 390509 672148 345990 318630 192210 49743 309871 551824 290793
9 GUNTUR 125843 125248 86072 7128 114549 207749 113916 90669 67501 5282 76920 149703 82862
10 KAKINADA 283595 281983 109709 10054 341895 461658 223588 208139 84107 7828 218986 310921 147828
11 KONASEEMA 227547 227287 140908 3046 205360 349314 183737 153269 105054 2084 119441 226579 125655
12 KRISHNA 213851 213396 132086 6611 239053 377750 195824 175832 113501 5329 189579 308409 159994
13 KURNOOL 328297 326686 120260 8312 493210 621782 317779 259379 97304 6639 363971 467914 243096
14 NANDYAL 255810 254696 125338 16202 334294 475834 251566 210270 102400 12621 257210 372231 202906
15 NELLORE 343883 342248 160746 39929 375573 576248 310916 277700 126034 26585 285180 437799 244608
16 NTR 205084 204449 133895 25861 205904 365660 195391 174449 114617 22013 165202 301832 164488
17 PALNADU 331250 329673 139640 51181 378093 568914 297755 261297 115466 39657 291206 446329 236632
18 PARVATHIPURAM MANYAM 208939 207927 48171 139839 204954 392964 207781 192389 41645 126701 178029 346375 184988
19 PRAKASAM 439323 437387 222610 27778 559191 809579 425888 381079 184927 20218 472446 677591 363589
20 SRI SATHYA SAI 274937 272769 72084 27838 405707 505629 260524 223864 60650 24091 309078 393819 204604
21 SRIKAKULAM 431806 430571 66017 41897 627666 735580 421685 380019 53749 36051 512197 601997 360743
22 TIRUPATI 267499 266503 170206 39561 251227 460994 251864 224005 139854 30275 194375 364504 204554
23 VISAKHAPATANAM 36050 35881 4756 506 50047 55309 33756 31525 4096 449 42600 47145 29550
24 VIZIANAGARAM 384090 383466 79294 18956 587748 685998 375977 352466 68022 16756 508917 593695 335938
25 WEST GODAVARI 179744 178836 75275 2227 217255 294757 148670 136194 56993 1645 153033 211671 109242
26 Y.S.R 225286 224363 86257 5955 314982 407194 223906 191495 71185 4893 248148 324226 184728
Total 6918825 6888681 2781841 1050771 8292974 12125586 6431747 5722006 2289128 903322 6423938 9616388 5212551

In [33]:
i=b.find_elements(By.TAG_NAME,'tr')
for j in i[3::]:
    op=j.find_elements(By.TAG_NAME,'td')
    l=[ k.text for k in op]
    er=len(df)
    df.loc[er]=l

In [1]:
df.reset_index(inplace=True)

NameError: name 'df' is not defined

In [35]:
title=d.find_element(By.XPATH,'//span[@id="ContentPlaceHolder1_lbl_head"]').text

In [36]:
print(title)

State: ANDHRA PRADESH

In [ ]:
#import re
#state=re.findall("(State[^\n]+)District",title)[0]
#dis=re.findall("(District[^\n]+)Block",title)[0]
#block=re.findall("Block[^\n]+",title)[0]

In [ ]:
#ndf=pd.DataFrame([[state] + [dis]+[block]+[''] * (len(df.columns) - 3)], columns=df.columns)

In [ ]:
#ndf

In [ ]:
#pd.concat([ndf, df], ignore_index=True)

In [48]:
dir='C:\\Users\\barad\\OneDrive\\Desktop\\JMK'
dir2='C:\\Users\\barad\\OneDrive\\Desktop\\JMK\\jmk1'

In [38]:
import os

In [58]:
dfs=os.path.join(dir,'jmk.csv')

In [59]:
df.to_csv(dfs,index=False)

In [74]:
with open (dfs,"w",newline="") as f:
    f.write(title + "\n")
    df.to_csv(f,index=False,header=True)#appends to file f

In [51]:
title

'State: ANDHRA PRADESH'

In [65]:
import io

In [66]:
gh=io.StringIO()

In [67]:
gh

In [68]:
gh.write(title+'\n')

22

In [69]:
df.to_csv(gh,index=False)

In [71]:
with open(dfs,'w') as f:
    f.write(gh.getvalue())

In [73]:
gh.close()

In [75]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_3468\2338759233.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa Kali_/\_')