In [1]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_10104\2338759233.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa Kali_/\_')

In [2]:
from selenium import webdriver

In [3]:
import pandas as pd
from selenium.webdriver.common.by import By

In [34]:
d=webdriver.Chrome()

In [39]:
url='https://nreganarep.nic.in/netnrega/app_issue.aspx?page=s&lflag=eng&state_name=ANDHRA%20PRADESH&state_code=02&fin_year=2022-2023&source=national&Digest=G1REW9Uem9bZKGAleXtm6w'

In [6]:
#URL1:https://nreganarep.nic.in/netnrega/app_issue.aspx?page=s&lflag=eng&state_name=ANDHRA%20PRADESH&state_code=02&fin_year=2023-2024&source=national&Digest=Fs+9iTu7pQCA/fT0ctav4w

In [40]:
d.get(url)

In [41]:
c=d.find_element(By.XPATH,'//span[@id="ContentPlaceHolder1_Repeater1_lblst_1"]')

In [42]:
c.click()

In [43]:
nd=d.current_url
d.get(nd)

In [44]:
t=d.find_elements(By.TAG_NAME,'table')

In [45]:
b=t[6]
x=b.find_elements(By.TAG_NAME,'tr')
for i in x[3:]:
    print(i.text)

Total 239653 239413 11064 429976 32052 473092 240334 215291 9140 390435 26708 426283 215978
1 Munchingiputtu 12681 12678 108 26596 453 27157 13467 12046 101 24959 438 25498 12561
2 Pedabayalu 13883 13875 79 29089 84 29252 14409 12904 72 27358 73 27503 13519
3 Hukumpeta 15390 15378 124 31198 439 31761 15950 14230 113 29355 411 29879 14952
4 Dumbriguda 13431 13426 108 28170 134 28412 14100 12813 96 26712 117 26925 13323
5 Araku Valley 15502 15484 134 29077 180 29391 14934 13643 114 27316 149 27579 13945
6 Ananthagiri 12833 12822 443 25292 388 26123 12882 11955 416 24194 334 24944 12246
7 Paderu 12360 12342 231 24129 638 24998 12908 11282 184 21791 451 22426 11500
8 Gangaraju Madugula 13546 13530 78 29012 317 29407 14461 12574 74 26378 218 26670 13011
9 Chintapalle 17398 17328 197 32508 306 33011 16628 14687 183 29851 245 30279 15114
10 Gudem Kothaveedhi 12229 12218 181 27114 300 27595 13729 10928 145 24317 162 24624 12181
11 Koyyuru 14435 14420 311 22807 3361 26479 13743 13001 285 21107 3076 24468 12697
12 Maredumilli 4207 4202 37 7829 56 7922 4107 3467 27 6568 41 6636 3440
13 Y Ramavaram 7055 7052 76 13323 164 13563 7091 5986 52 11564 123 11739 6155
14 Addateegala 8585 8577 941 12462 2357 15760 8145 7988 788 11008 1867 13663 7116
15 Rajavommangi 10199 10188 287 11684 5431 17402 9093 9035 261 10638 5017 15916 8383
16 Gangavaram 8654 8648 1089 10406 3782 15277 8121 7743 987 9354 3512 13853 7429
17 Rampachodavaram 8963 8961 104 15008 389 15501 8319 7341 51 11809 172 12032 6490
18 Devipatnam 6667 6666 711 8238 2569 11518 5720 5877 523 7096 1837 9456 4716
19 Kunavaram 6724 6721 1778 9494 2375 13647 6993 5865 1308 7955 1642 10905 5521
20 Chintur 8351 8342 228 15985 772 16985 8966 7255 166 13552 526 14244 7554
21 Vararamachandrapuram 7085 7084 333 8834 4388 13555 6815 6455 252 7522 3866 11640 5838
22 Nellipaka 9475 9471 3486 11721 3169 18376 9753 8216 2942 10031 2431 15404 8287
Total 239653 239413 11064 429976 32052 473092 240334 215291 9140 390435 26708 426283 215978

In [46]:
b=t[6]
col=['S.No','Districts','Number of Jobcards applied','Number of Jobcards issued','Registered Workers SCs','Registered Workers STs',
     'Registered Workers others','Registered Workers Total Workers','Registered Workers Women','Number of Active Job Cards',
     'Active Workers SCs','Active Workers STs',
     'Active Workers others','Active Workers Total Workers','Active Workers Women']
df=pd.DataFrame(columns=col)

In [47]:
gh=b.find_elements(By.TAG_NAME,'tr')
for i in gh[3:]:
    k=i.find_elements(By.TAG_NAME,'td')
    k=[j.text for j in k]
    l=len(df)
    df.loc[l]=k

In [48]:
title=d.find_element(By.XPATH,'//span[@id="ContentPlaceHolder1_lbl_head"]').text

In [49]:
title

'State: ANDHRA PRADESH District : ALLURI SITHARAMA RAJU'

In [50]:
df

,S.No,Districts,Number of Jobcards applied,Number of Jobcards issued,Registered Workers SCs,Registered Workers STs,Registered Workers others,Registered Workers Total Workers,Registered Workers Women,Number of Active Job Cards,Active Workers SCs,Active Workers STs,Active Workers others,Active Workers Total Workers,Active Workers Women
0,,Total,239653,239413,11064,429976,32052,473092,240334,215291,9140,390435,26708,426283,215978
1,1,Munchingiputtu,12681,12678,108,26596,453,27157,13467,12046,101,24959,438,25498,12561
2,2,Pedabayalu,13883,13875,79,29089,84,29252,14409,12904,72,27358,73,27503,13519
3,3,Hukumpeta,15390,15378,124,31198,439,31761,15950,14230,113,29355,411,29879,14952
4,4,Dumbriguda,13431,13426,108,28170,134,28412,14100,12813,96,26712,117,26925,13323
5,5,Araku Valley,15502,15484,134,29077,180,29391,14934,13643,114,27316,149,27579,13945
6,6,Ananthagiri,12833,12822,443,25292,388,26123,12882,11955,416,24194,334,24944,12246
7,7,Paderu,12360,12342,231,24129,638,24998,12908,11282,184,21791,451,22426,11500
8,8,Gangaraju Madugula,13546,13530,78,29012,317,29407,14461,12574,74,26378,218,26670,13011
9,9,Chintapalle,17398,17328,197,32508,306,33011,16628,14687,183,29851,245,30279,15114
10,10,Gudem Kothaveedhi,12229,12218,181,27114,300,27595,13729,10928,145,24317,162,24624,12181
11,11,Koyyuru,14435,14420,311,22807,3361,26479,13743,13001,285,21107,3076,24468,12697
12,12,Maredumilli,4207,4202,37,7829,56,7922,4107,3467,27,6568,41,6636,3440
13,13,Y Ramavaram,7055,7052,76,13323,164,13563,7091,5986,52,11564,123,11739,6155
14,14,Addateegala,8585,8577,941,12462,2357,15760,8145,7988,788,11008,1867,13663,7116
15,15,Rajavommangi,10199,10188,287,11684,5431,17402,9093,9035,261,10638,5017,15916,8383
16,16,Gangavaram,8654,8648,1089,10406,3782,15277,8121,7743,987,9354,3512,13853,7429
17,17,Rampachodavaram,8963,8961,104,15008,389,15501,8319,7341,51,11809,172,12032,6490
18,18,Devipatnam,6667,6666,711,8238,2569,11518,5720,5877,523,7096,1837,9456,4716
19,19,Kunavaram,6724,6721,1778,9494,2375,13647,6993,5865,1308,7955,1642,10905,5521
20,20,Chintur,8351,8342,228,15985,772,16985,8966,7255,166,13552,526,14244,7554
21,21,Vararamachandrapuram,7085,7084,333,8834,4388,13555,6815,6455,252,7522,3866,11640,5838
22,22,Nellipaka,9475,9471,3486,11721,3169,18376,9753,8216,2942,10031,2431,15404,8287
23,,Total,239653,239413,11064,429976,32052,473092,240334,215291,9140,390435,26708,426283,215978

In [51]:
d.get('https://nreganarep.nic.in/netnrega/writereaddata/state_out/jobcardreg_0203008001_eng.html')

In [59]:
f=d.find_elements(By.TAG_NAME,'tr')

In [80]:
df=pd.DataFrame(columns=['sno','Job_card_no','name'])

In [82]:
for i in f[4:-4]:
    k=i.find_elements(By.TAG_NAME,'td')
    k=[ j.text for j in k]
    l=len(df)
    df.loc[l]=k

In [66]:
z=op.find_elements(By.TAG_NAME,'td')

In [67]:
for i in z:
    print(i.text)

1
AP-03-008-001-001/010005
Peddademudu

In [70]:
len(f)

607

In [ ]:
for i in f[4:-4]:
    print(i.text)

In [78]:
df

     sno               Job_card_no                     name
0      1  AP-03-008-001-001/010005              Peddademudu
1      1  AP-03-008-001-001/010005              Peddademudu
2      2  AP-03-008-001-001/010006              Jagannadham
3      3  AP-03-008-001-001/010007                Demudamma
4      4  AP-03-008-001-001/010011               Chittibabu
..   ...                       ...                      ...
595  595   AP-03-008-001-001/70114  Kandumukku Ramanna Dora
596  596   AP-03-008-001-001/70115      Kooda Pedademudamma
597  597   AP-03-008-001-001/70116         Lankela Somaraju
598  598   AP-03-008-001-001/70117        VINIPIRI NAGARAJU
599  599   AP-03-008-001-001/70118         Pagi Kusumapraya

[600 rows x 3 columns]

In [88]:
l=[]
for i in f[4:-4]:
    z=i.find_element(By.TAG_NAME, "a")
    l.append(z.get_attribute('href'))

In [93]:

df['link']=l[:len(df)]

In [91]:
len(df)

599

In [95]:
df.to_csv('jmklusm.csv',index=False)

In [96]:
def shorten_url(url):
    response = requests.get(f"http://tinyurl.com/api-create.php?url={url}")
    return response.text

In [99]:
import requests

In [101]:
shorten_url('https://nreganarep.nic.in/netnrega/state_html/jcr.aspx?reg_no=AP-03-008-001-001/010005&village_code=0203008001001&fin_year=2022-2023&Digest=TlENxoq10khQ2Yz5NVJd3g')

'https://tinyurl.com/26smsvur'

In [104]:
df['link']=df.link.apply(lambda x:shorten_url(x))

In [103]:
df['link'][2]

'https://nreganarep.nic.in/netnrega/state_html/jcr.aspx?reg_no=AP-03-008-001-001/010007&village_code=0203008001001&fin_year=2022-2023&Digest=M1lDYPT8nnRAIxF4ytLWFA'

In [106]:
df['links']=df['link'].apply(lambda x: f'<b><a href="{x}" target="_blank">{x}</a></b>')

In [ ]:
from IPython.display import HTML
HTML(df.to_html(escape=False))

In [109]:
df.to_csv('jmk1.csv')

In [110]:
#FOR LOOP

In [111]:
url='https://nreganarep.nic.in/netnrega/app_issue.aspx?page=s&lflag=eng&state_name=ANDHRA%20PRADESH&state_code=02&fin_year=2023-2024&source=national&Digest=Fs+9iTu7pQCA/fT0ctav4w'

In [112]:
d.get(url)

In [124]:
t=d.find_elements(By.TAG_NAME,'table')  
b=t[6]

In [130]:
z=b.find_elements(By.TAG_NAME,'tr')

In [132]:
for i in z[4:]:
    cv=i.find_elements(By.TAG_NAME,'td')[1]

ALLURI SITHARAMA RAJU
ANAKAPALLI
ANANTAPUR
ANNAMAYYA
BAPATLA
CHITTOOR
EAST GODAVARI
ELURU
GUNTUR
KAKINADA
KONASEEMA
KRISHNA
KURNOOL
NANDYAL
NELLORE
NTR
PALNADU
PARVATHIPURAM MANYAM
PRAKASAM
SRI SATHYA SAI
SRIKAKULAM
TIRUPATI
VISAKHAPATANAM
VIZIANAGARAM
WEST GODAVARI
Y.S.R
Total

In [133]:
print('Jai Maa KALI_/\_')

Jai Maa KALI_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_10104\913251040.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa KALI_/\_')