In [4]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

In [2]:
import warnings

In [3]:
warnings.filterwarnings('ignore')

In [5]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [54]:
url='https://nreganarep.nic.in/netnrega/app_issue.aspx?page=s&lflag=eng&state_name=ANDHRA%20PRADESH&state_code=02&fin_year=2023-2024&source=national&Digest=Fs+9iTu7pQCA/fT0ctav4w'

In [70]:
d=webdriver.Chrome()
d.get(url)

In [71]:
urls=d.find_elements(By.TAG_NAME,'a')

In [72]:
urls=[i.get_attribute('href') for i in urls]

In [75]:
import validators

In [74]:
#urls

In [76]:
urls=[i for i in urls if validators.url(i)]

In [77]:
urls=urls[1::]

In [78]:
len(urls)

26

In [ ]:
for i in urls:#main links District
    fun(i)

In [83]:
def fun(url):
    d.get(url)
    m=d.find_elements(By.TAG_NAME,'a')#block links
    m=[i.get_attribute('href') for i in m]
    m=[i for i in m if validators.url(i)]
    m=m[1::]
    for j in m:
        lin=d.find_elements(By.TAG_NAME,'a')#block links
        lin=[i.get_attribute('href') for i in lin]
        lin=[i for i in lin if validators.url(i)]
        lin=lin[1::]
        
        for k in lin:
            print(k)

In [82]:
def func(url):
    d.get(url)
    f=d.find_elements(By.TAG_NAME,'tr')
    df=pd.DataFrame(columns=['sno','Job_card_no','name'])
    for i in f[4::]:
        k=i.find_elements(By.TAG_NAME,'td')
        k=[ j.text for j in k]
        if len(k)==3:
            l=len(df)
            df.loc[l]=k
    dir='C:\\Users\\barad\\OneDrive\\Desktop\\JMK\\job_cards_panchayats'
    file_name = panchayat+f".csv"
    dfs=os.path.join(dir,file_name)
    df.to_csv(dfs,index=False)

In [26]:
d.get('https://nreganarep.nic.in/netnrega/writereaddata/state_out/jobcardreg_0203001001_eng.html')

In [39]:
df=pd.DataFrame(columns=['sno','Job_card_no','name'])

In [40]:
z=d.find_elements(By.TAG_NAME,'tr')
for i in z[4::]:
    k=i.find_elements(By.TAG_NAME,'td')
    k=[ j.text for j in k]
    if len(k)==3:
        l=len(df)
        df.loc[l]=k

In [32]:
len(l)

512

In [41]:
df

     sno               Job_card_no           name
0      1  AP-03-001-001-001/010002        Narsing
1      2  AP-03-001-001-001/010003           Dasu
2      3  AP-03-001-001-001/010004          Arjun
3      4  AP-03-001-001-001/010006       Subbarao
4      5  AP-03-001-001-001/010007           Guru
..   ...                       ...            ...
499  500  AP-03-001-001-026/010043       SUBBARAO
500  501   AP-03-001-001-026/10045    PANGI GOPAL
501  502   AP-03-001-001-026/10046  PANGI BABURAO
502  503   AP-03-001-001-026/10151  PANGI SUKADEV
503  504   AP-03-001-001-026/10152  PANGI MONIMMA

[504 rows x 3 columns]

In [1]:
#webpage to pdf

In [4]:
from selenium import webdriver
import pdfkit
import time
import os

In [3]:
print('Jai Maa Kali_/\_')

Jai Maa Kali_/\_

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\barad\AppData\Local\Temp\ipykernel_12916\2338759233.py:1: SyntaxWarning: invalid escape sequence '\_'
  print('Jai Maa Kali_/\_')

In [25]:
d=webdriver.Chrome()

In [30]:
url='https://nreganarep.nic.in/netnrega/writereaddata/state_out/jobcardreg_0212002001_eng.html'
from selenium.webdriver.common.by import By

In [27]:
d.get(url)

In [12]:
import validators

In [24]:
validators.url(url)

ValidationError(func=url, args={'value': ''})

In [31]:
z=d.find_elements(By.TAG_NAME,'a')

In [32]:
z=[i.get_attribute('href') for i in z]

In [33]:
z=[i for i in z if validators.url(i)]

In [35]:
t=z[1]

In [36]:
d.get(t)

In [37]:
t

'https://nreganarep.nic.in/netnrega/state_html/jcr.aspx?reg_no=AP-12-002-001-001/010003&village_code=0212002001001&fin_year=2020-2021&Digest=6pc7kUEWJhuyP5W7eG22kA'